<div class="main-content ht-100" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="widget widget-tile">
                    <div id="spark1" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_1.data" opts="{{ctrl.sparkline_1.opts}}"></div>
                    <div class="data-info">
                        <div class="desc">Hours of Run</div>
                        <div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                        <ng-count-up from="0" to="103"></ng-count-up>
                        </div>
                    </div>
                </div>
                <div class="widget widget-tile">
                    <div id="spark2" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_2.data" opts="{{ctrl.sparkline_2.opts}}"></div>
                    <div class="data-info">
                        <div class="desc">Hours of Sleep</div>
                        <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <ng-count-up from="0" to="80"></ng-count-up>
                        </div>
                    </div>
                </div>
                <div class="widget widget-tile">
                    <div id="spark4" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_4.data" opts="{{ctrl.sparkline_4.opts}}"></div>
                    <div class="data-info">
                        <div class="desc">Hours of Cycling</div>
                        <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                        <ng-count-up from="0" to="532"></ng-count-up>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-divider">Latest Activity<span class="panel-subtitle">You are 80% more active than others in your <strong>school</strong>.</span></div>
                    <div class="panel-body">
                        <ul class="user-timeline">
                            <li class="latest">
                                <div class="user-timeline-date"><i class="lead text-primary mdi mdi-run"></i> Just Now - 40 min running</div>
                                <div class="user-timeline-description">Running in school campus </div>
                            </li>
                            <li>
                                <div class="user-timeline-date"><i class="lead text-danger mdi mdi-walk"></i> Today - 15:35 min walking</div>
                                <div class="user-timeline-description">Morning Walk</div>
                            </li>
                            <li>
                                <div class="user-timeline-date"><i class="lead text-danger mdi mdi-walk"></i> Today - 10:35 min walking</div>
                                <div class="user-timeline-description">Morning Walk</div>
                            </li>
                            <li>
                                <div class="user-timeline-date"><i class="lead text-danger mdi mdi-walk"></i> Today - 10:35 min walking</div>
                                <div class="user-timeline-description">Morning Walk</div>
                            </li>
                            <li>
                                <div class="user-timeline-date"><i class="lead text-success mdi mdi-bike"></i> Yesterday - 15:35 min cycling</div>
                                <div class="user-timeline-description">Cycling in school campus</div>
                            </li>
                            <li>
                                <div class="user-timeline-date"><i class="lead text-warning mdi mdi-local-hotel"></i> Yesterday - 08:00 hrs sleep</div>
                                <div class="user-timeline-description">Sleep at night</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
    </div>
</div>
