<div class="main-content ht-100" perfect-scrollbar suppress-scroll-x="true" wheel-propagation="true">
    <div class="container-fluid">
        <div class="col-md-12">
            <ul class="timeline timeline-variant">
                <div ng-repeat="post in ctrl.posts">
                <li class="timeline-month"><span ng-bind="post.created| date:'dd MMMM, yyyy'"></span></li>
                <li class="timeline-item" ng-class="{'right': ($index%2)==1, 'left': ($index%2)==0}" >
                    <!-- TODO change gallery-succes/danger/warning/ and panel-border-color-success/danger/warning based on tag kudos/nudges/both-->
                    <div class="timeline-content timeline-type gallery-success panel-border-color panel-border-color-success">
                        <div class="timeline-icon"><i class="icon mdi mdi-image"></i></div>
                        <div class="timeline-avatar"><img ng-src="{{post.owner.avatar}}" alt="Avatar" class="circle"></div>
                        <div class="timeline-header"><span class="timeline-autor" ng-bind="post.owner.fullname"></span>
                            <span class="timeline-time" ng-bind="post.created| date:'MMMM dd,yyyy - HH:mm a'"></span>
                        </div>
                        <div class="timeline-summary">
                            <p class="lead" ng-bind="post.title"></p>
                            <br/>
                            <p ng-bind="post.description"></p>
                        </div>
                        <div class="timeline-gallery" ng-if="post.image">
                            <div class="thumbnail">
                                <img ng-src="{{post.image}}" class="img-responsive">
                            </div>
                        </div>
                        <div class="timeline-gallery" ng-if="post.image==null">
                            <div class="row">
                                <div class="thumbnail col-md-12" ng-repeat="tag in post.brags">
                                    <a href="" >
                                      <img ng-src="{{tag.bragtag.image}}" style="width:100%">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <li class="timeline-month"><span>23 September, 2016</span></li>
                <li class="timeline-item " ng-class="{'right': (ctrl.posts.length%2)==1, 'left': (ctrl.posts.length%2)==0}">
                    <div class="timeline-content timeline-type gallery-warning panel-border-color panel-border-color-warning">
                        <div class="timeline-icon"><i class="icon mdi mdi-image"></i></div>
                        <div class="timeline-avatar"><img src="app/assets/img/alexa-2.jpg" alt="Avatar" class="circle"></div>
                        <div class="timeline-header"><span class="timeline-autor">Alexa  </span>
                            <span class="timeline-time">August 23, 2016 - 10:42 AM</span>
                        </div>
                        <div class="timeline-summary">
                            <p class="lead">Classmates</p>
                            <br/>
                            <p>Math-4 classmates.</p>
                        </div>
                        <div class="timeline-gallery">
                        <div class="thumbnail">
                            <img ng-src="http://farm8.staticflickr.com/7163/6670009409_2a684ba706_o.jpg" class="img-responsive" >
                        </div>
                        </div>
                    </div>
                </li>
                <li class="timeline-item timeline-loadmore"><a href="#" class="load-more-btn">Load more</a></li>
            </ul>
        </div>
    </div>
</div>
