<div class="row">
    <div class="col-md-4">
        <div style="min-height:355px;">
            <div class="f-s-18">Objectives</div>
            <table class="table">
                <tbody>
                    <tr ng-repeat="objective in tabContent.objectives" uib-tooltip="{{objective.description}}" tooltip-placement="bottom">
                        <td class="cell-detail" ng-style="{'border-top':($index!=0?'auto':0)}"> 
                            <span ng-bind="::objective.description" class="f-s-13 c-666"></span>
                            <!-- <span class="cell-detail-description" ng-bind="::objective.description"></span> -->
                        </td>
                        <td class="milestone" width="50%" style="border-top:0px;">
                            <div>
                            <!-- <span class="version">v1.2.0</span> -->
                                <span class="completed" ng-bind="objective.progress+' / '+objective.total"></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="progress">
                                <div ng-style="{width:(objective.progress/objective.total*100)+'%'}" class="progress-bar progress-bar-primary"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div style="border-bottom:1px solid #efefef;">
                <div class="f-s-18">
                    Goals
                    <div class="pull-right" style="margin-top:5px;">40%</div>
                    <div class="clearfix"></div> 
                </div>
            </div>
            <div class="progress" style="height:12px;background-color: initial;">
                <div style="width: 40%" class="progress-bar progress-bar-primary"></div>
            </div>
            <div class="todo-wrapper">
                <div class="be-scroller">
                    <div class="todo-content">
                        <div ng-repeat="goal in tabContent.goals">
                            <!-- <span class="category-title" ng-bind="goal.title"></span> -->
                            <ul class="todo-list">
                                <li ng-repeat="step in goal.steps">
                                    <div class="be-checkbox be-checkbox-sm">
                                        <span class="delete mdi mdi-delete"></span>
                                        <input id="{{'todo_'+$parent.$index+'_'+$index}}" type="checkbox">
                                        <label for="{{'todo_'+$parent.$index+'_'+$index}}" ng-bind="step"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div>
            <div class="f-s-18">Skills</div>
            <div style="height:350px;">
                <div
                bar-chart 
                bar-data="tabContent.barChartData"
                bar-x='{{ctrl.barChart.xkey}}'
                bar-y='ctrl.barChart.ykeys'
                bar-labels='ctrl.barChart.labels'
                bar-colors='ctrl.barChart.barColors'
                bar-hide-hover="ctrl.barChart.hideHover"
                bar-x-label-angle="ctrl.barChart.xLabelAngle"
                bar-grid-text-size="11"
                ng-if="tabContent.barChartData"
                style="height:250px;">
                </div>
            </div>
        </div>
        <div ng-if="tabContent.focusAreas.length">
            <div class="f-s-18">Focus Areas</div>
            <div class="focus-areas">
                <div class="label f-s-13" ng-class="{'label-success':(focus.progress>=66), 'label-warning':(focus.progress>=33 && focus.progress<66), 'label-danger':(focus.progress<33),}" ng-repeat="focus in tabContent.focusAreas" ng-bind="focus.title"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<style>
 div[bar-chart]>svg{overflow: visible !important;}
 td.cell-detail span
 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 125px;
 }
</style>