<div class="main-content ht-100 container-fluid"  perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
    <div class="row">
        <div class="col-md-4">
            <div class="user-display panel panel-default" style="margin-top: 50px">
                <div class="user-display-bottom">
                    <div class="user-display-avatar"><img ng-src='{{"http://metalearn-api.zaya.in" + ctrl.user.profile.avatar}}' alt="Avatar"></div>
                    <div class="user-display-info">
                        <div class="name f-s-18" ng-bind="ctrl.user.profile.fullname"></div>
                        <div class="nick"><span class="mdi mdi-account"></span><span ng-bind="' '+ctrl.user.username"></span></div>
                    </div>
                </div>
                <div class="user-info-list panel panel-default no-box-shadow">
                
                    <div class="panel-heading">
                    <div class="f-s-18">About Me</div>
                    <a class="pull-right" href="" ui-sref="student.profile"><i class="text-muted mdi mdi-edit"></i></a>
                    <span class="panel-subtitle" ng-bind="ctrl.dummyProfile.about"></span></div>
                </div>
            </div>
        </div>
        <div class="col-md-8" style="margin-top: 50px;">
            <div class="panel panel-default">
                <!-- <div class="panel-heading panel-heading-divider">Current Progress<span class="panel-subtitle">This is the user current progress widget</span></div> -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="bold f-s-18">Interest <a class="pull-right" ui-sref="student.profile" href=""><i class="text-muted mdi mdi-edit"></i></a></div>
                            <ul class="list-unstyled"  style="font-weight: 300;">
                                <li class="f-s-13 c-666" ng-repeat="interest in ctrl.dummyProfile.intrests" ng-bind="interest"></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <div class="bold f-s-18">Goals <a class="pull-right" href="" ui-sref="student.goals"><i class="text-muted mdi mdi-edit"></i></a></div>
                            <ul class="list-unstyled"  style="font-weight: 300;">
                                <li class="f-s-13 c-666">15 books</li>
                                <li class="f-s-13 c-666">3 cycling races</li>
                                <li class="f-s-13 c-666">Learn Guitar</li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="bold f-s-18">Kudos </div>
                            <div class="contact-list">
                                <a href=""><img src="app/assets/img/brag1.jpg" style="width: 80px; height: 80px" class="img-responsive bragtag col-lg-4 col-sm-12"></a>
                                <a href=""><img src="app/assets/img/brag2.jpg" style="width: 80px; height: 80px" class="img-responsive bragtag col-lg-4 col-sm-12"></a>
                                <a href=""><img src="app/assets/img/brag3.jpg" style="width: 80px; height: 80px" class="img-responsive bragtag col-lg-4 col-sm-12"></a>       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-container col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="f-s-18" style="margin-top:11px;">Subject Completion</div>
                            <ul class="nav nav-tabs nav-justified">
                                <li class="" ng-class="{'active':isActive==$index}" ng-click="ctrl.loadTab($index)" ng-repeat="tab in tabs">
                                    <a href=""  uib-tooltip="{{tab.subject}}" tooltip-placement="top">
                                            <img ng-src="{{'/app/assets/img/subjects/'+tab.icon}}" alt="" class="img-responsive"  style="width:90px;display:inline;"/>
                                            <span ng-bind="tab.percent+'%'"></span>
                                        <!-- <div class="panel-heading" ng-bind="tab.subject"></div> -->
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="progress" style="height:12px;background-color: initial;">
                        <div ng-style="{'width':tabContent.percent+'%'}" class="progress-bar" ng-class="{'progress-bar-danger':(tabContent.percent < 33), 'progress-bar-warning':(tabContent.percent >= 33 && tabContent.percent < 75), 'progress-bar-success':(tabContent.percent >= 75)}"></div>
                    </div>
                    <div class="tab-content">
                        <div id="home" class="tab-pane cont active">
                            <ng-include src="'/app/components/student/templates/dashboard.tabs.html'"></ng-include>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
