<div class="be-left-sidebar flex-abs-wrapper">
    <div class="left-sidebar-wrapper flex flex-column">
        <a href="#" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer flex-1 overflow-y-hidden">
            <div class="left-sidebar-scroll" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li ng-class="{ active: isActive('/student/dashboard')}" ><a ui-sref="student.dashboard" ><i class="icon mdi mdi-home"></i><span>Dashboard</span></a></li>
                        <!-- <li class="divider">Profile</li>
                        <li ng-class="{ 'parent open' : profileOpenState, 'parent': !profileOpenState }" ng-init="profileOpenState=false"><a href="" ng-click="profileOpenState=!profileOpenState"><i class="icon mdi mdi-face"></i><span>Profile</span></a>
                            <ul class="sub-menu">
                                <li ng-class="{ active: isActive('/student/profile')}" ><a href="" ui-sref="student.profile" >Manage Profile</a></li>
                                <li ng-class="{ active: isActive('/student/playlist')}"><a href="" ui-sref="student.playlist" >Playlist</a></li>
                                <li ng-class="{ active: isActive('/student/wishlist')}"><a href="" ui-sref="student.wishlist"  >Wishlist</a></li>
                            </ul>
                        </li> -->
                        <li ng-class="{ active: isActive('/student/goals')}" ><a href="" ui-sref="student.goals" ><i class="icon mdi mdi-camera-front"></i><span>Goals</span></a></li>
                        <li class="divider">Subjects</li>
                        <li ng-class="{ active: isActive('/student/course/'+course.id)}" ng-repeat="course in ctrl.courses"><a ui-sref="student.coursedetail({'courseId':course.id})" ><i class="icon mdi mdi-library"></i><span ng-bind="course.title"></span></a></li>
                        <li class="divider">Kudos / Nudges</li>
                        <li ng-class="{ active: isActive('/student/kudos-nudges')}" ><a href="" ui-sref="student.bragtags" ><i class="icon mdi mdi-camera-front"></i><span>Activity</span></a></li>
                        <li class="divider">Health and Wellness</li>
                        <li ng-class="{ active: isActive('/student/setupgear')}"><a ui-sref="student.setupgear" ><i class="icon mdi mdi-usb"></i><span>Setup Gear {{ctrl.state}}</span></a></li>
                        <li ng-class="{ active: isActive('/student/activity')}"><a ui-sref="student.activity" ><i class="icon mdi mdi-book-image"></i><span>Activity</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>