<div class="be-content">
    <div class="page-head">
        <h2 class="page-head-title">Playlist</h2>
        <ol class="breadcrumb page-head-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Playlist </a></li>
            <li class="active">All Subject</li>
        </ol>
    </div>
    <div class="main-content container-fluid">
        <div class="row" style="overflow-x:scroll;white-space: nowrap;width: auto;">
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-list-container panel-card">
                <div class="panel">
                    <div class="panel-heading">Demonstration<span class="panel-subtitle">Student demonstrates an awareness of own emotions</span></div>
                    <div class="panel-body">
                        <ul id="sortable2" class="connectedSortable list-unstyled board-panel-scroll">
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-blue card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Development Trust</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success">SM</span></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">5 digit multiplication</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="panel panel-border">
                                    <div class="panel-label-container">
                                        <span class="card-label-red card-label"> </span>
                                        <span class="card-label-green card-label">  </span>
                                    </div>
                                    <div class="panel-heading">Showing Emotions</div>
                                    <div class="panel-body">
                                        <!-- <p>Quisque gravida aliquam diam at cursus, quisque laoreet ac lectus a rhoncusac tempus odio.</p> -->
                                    </div>
                                    <div class="panel-footer text-right">
                                        <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a>
                                        <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary">PM</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
