<div class="main-content ht-100" perfect-scrollbar suppress-scroll-x="true" wheel-propagation="true">
    <div class="container-fluid">
        <div class="user-profile">
            <div class="row">
                <div class="col-md-5">
                    <div class="user-display">
                        <div class="user-display-bg"><img src="app/assets/img/user-profile-display.png" alt="Profile Background"></div>
                        <div class="user-display-bottom">
                            <div class="user-display-avatar"><img ng-src='{{"http://metalearn-api.zaya.in" + ctrl.user.profile.avatar}}' alt="Avatar"></div>
                            <div class="user-display-info">
                                <div class="name"><span ng-model="ctrl.user.fullname"></span></div>
                                <div class="nick"><span class="mdi mdi-account"></span><span ng-bind="ctrl.user.username"></span></div>
                            </div>
                        </div>
                    </div>
                    <div class="user-info-list panel panel-default">
                        <div class="panel-heading panel-heading-divider">About Me<span class="panel-subtitle"></span>
                        </div>
                        <div class="panel-body">
                            <table class="no-border no-strip skills">
                                <tbody class="no-border-x no-border-y">
                                    <tr>
                                        <td class="item">Intrests<span class="icon s7-gift"></span></td>
                                        <td><input type="" placeholder="Intrests" ng-model="ctrl.intrestsString" class="form-control"> </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <!-- profile setup form -->
                    <div class="panel panel-default panel-border-color panel-border-color-primary">
                        <div class="panel-heading panel-heading-divider">Update Profile<span class="panel-subtitle">Please enter your user information.</span></div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group xs-pt-10">
                                    <label>Fullname</label>
                                    <input type="text" placeholder="Enter your name" ng-model="ctrl.user.profile.fullname" value="" class="form-control">
                                </div>
                                <label>Date of birth</label>
                                <div class="form-group">
                                    <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetimepicker">
                                        <span class="input-group-addon btn btn-primary"><i class="icon-th mdi mdi-calendar"></i></span>
                                        <input size="16" type="text" value="" ng-bind="expression" class="form-control" ng-model="ctrl.user.profile.dob">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Phone</label>
                                    <input type="" placeholder="Enter your phone number" ng-model="ctrl.dummyProfile.phonenumber" class="form-control">
                                </div>
                                <div class="form-group xs-pt-10">
                                    <label>About Me</label>
                                    <textarea type="text" placeholder="Something about yourself" ng-model="ctrl.dummyProfile.about" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Address</label>
                                    <textarea type="text" placeholder="Enter your address" ng-model="ctrl.dummyProfile.address" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="btn" ng-click="ctrl.updateProfile()" class="btn btn-space btn-primary btn-lg">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- profile setup form -->
                </div>
            </div>
        </div>
    </div>
</div>
