<div class="main-content ht-100" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
    <div class="container-fluid">
        <div class="row m-t-20">
            <div class="col-md-4">
                <div class="panel gear-panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-sm-4 col-md-3">
                                <div class="be-radio-icon inline">
                                    <label for="rad2"><span class="mdi mdi-run"></span></label>
                                </div>
                            </div>
                            <div class="col-sm-8 col-md-9">Track Run<span class="panel-subtitle">Track your daily runs with single a click.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="row panel-heading">
                        <div class="col-sm-3 col-md-3">
                            <div class="be-radio-icon inline">
                                <label for="rad2"><span class="mdi mdi-bike"></span></label>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9">Track Cycling<span class="panel-subtitle">Track your cycle rides with a single click.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="row panel-heading">
                        <div class="col-sm-3 col-md-3">
                            <div class="be-radio-icon inline">
                                <label for="rad2"><span class="mdi mdi-hotel"></span></label>
                            </div>
                        </div>
                        <div class="col-sm-9 col-md-9">Track Sleep<span class="panel-subtitle">Track your sleeping hours with a single click.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center m-t-20">
            <img src="app/assets/img/smartwatch.png" style="width: 200px;height: 200px;">
            <h3>Would you like to setup your gear?</h3>
            <p class="lead"><a href="" class="btn btn-xl btn-primary">Let's setup</a></p>
        </div>
    </div>
</div>
