<div class="main-content ht-100 pos-relative">
    <div class="flex-abs-wrapper overflow-y-hidden">
        <div class="container-fluid flex flex-column reverse ht-100" style="overflow-y: auto;">
            <div class="row flex-1" style="padding-top:40px;">
               <div class="col-md-12">
                    <ul class="timeline list-unstyled">
                        <li class="timeline-item faker">
                            <div class="timeline-content">
                                <div class="col-xs-7 f-s-14">
                                    Hi Carlos, here you can set your goals for the year. To learn how to set smart goals watch the short video. 
                                </div>
                                <div class="col-xs-5">
                                    <iframe width="100%" src="https://www.youtube.com/embed/d6o5PyJM3bY" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-content" ng-init="newWishList={'title': '', 'todo': []}">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <textarea class="form-control" placeholder="SET YOUR BIG GOAL" ng-model="newWishList.title"></textarea>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-model="newTodo" id="todo-item" placeholder="Set your SMALL Steps to Achieving this Goal" on-enterkey="newWishList.todo.push({'title':newTodo, 'done':false}); newTodo='';">
                                        <div class="input-group-addon"><a href="" ng-click="newWishList.todo.push({'title':newTodo, 'done':false}); newTodo='';"><i class="mdi mdi-plus-circle-o" ></i></a></div>
                                    </div>
                                    <div class="todo-content" style="margin-top: 10px;"><span class="category-title" ng-show="newWishList.todo[0]">Today</span>
                                        <ul class="todo-list">
                                            <li ng-repeat="todo in newWishList.todo">
                                                <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete" ng-click="newWishList.todo.splice($index,1);"></span>
                                                    <input id="{{ 'newtodo_' + $index }}" type="checkbox" ng-checked="todo.done">
                                                    <label for="{{ 'newtodo_' + $index }}" ng-bind="todo.title"></label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-10">
                                            <button type="button" class="btn btn-primary btn-lg" ng-click="ctrl.addToWishlist(newWishList); newWishList.title=''; newWishList.todo=[]">submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li ng-repeat="wishlist in ctrl.wishlist | orderBy:'-date'" class="timeline-item timeline-item-detailed">
                            <div class="timeline-date"><span ng-bind="wishlist.date | date:'MMMM dd, yyyy'"></span></div>
                            <div class="timeline-content">
                                <div class="timeline-avatar"><img ng-src='{{"http://metalearn-api.zaya.in" + ctrl.user.profile.avatar}}' alt="Avatar" class="circle"></div>
                                <div class="timeline-header">
                                    <a data-toggle="collapse" href="" data-target="{{ '#wishlist_'+ $index}}" aria-expanded="false" aria-controls="collapseExample"><span class="timeline-time lead"><i class="mdi mdi-view-list-alt"></i></span></a><span class="timeline-autor f-s-18" ng-bind="ctrl.user.profile.fullname || 'Untitled'"></span>
                                    <p class="timeline-activity"></p>
                                    <div class="timeline-summary">
                                        <p ng-bind="wishlist.title" class="f-s-14"></p>
                                    </div>
                                    <br>
                                    <div class="collapse in" id="{{ 'wishlist_'+ $index}}">
                                        <div class="todo-content">
                                            <ul class="todo-list">
                                                <li ng-repeat="todo in wishlist.todo">
                                                    <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete" ng-click="ctrl.wishlist[$parent.$index]['todo'].splice($index,1);"></span>
                                                        <input id="{{'todo_'+ $parent.$index + '_' + $index}}" type="checkbox" ng-checked="todo.done" ng-click="todo.done = !todo.done;">
                                                        <label for="{{'todo_'+ $parent.$index + '_'+ $index}}"><span ng-bind="todo.title"></span></label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-item timeline-loadmore"><a href="" class="load-more-btn">Load more</a></li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>
<style>
    .timeline:before
    {
        top:270px;
    }
    .todo-list
    {
        padding-left:0px !important;
    }
    .timeline-item.faker
    {
        padding-left:168px;
    }
    .timeline-item.faker:before, .timeline-item.faker .timeline-content:before, .timeline-item.faker .timeline-content:after
    {
        display: none;
    }
</style>
