<div id="header" ui-view="header"></div>
<div id="content">
    <div class="content-wrapper">
        <div class="prime-content">
            <div id="leftnav" class="pos-relative" ui-view="leftnav"></div>
            <div id="main-body" ui-view="body"></div>
            <div id="rightnav" ui-view="rightnav"></div>
        </div>
    </div>
</div>
