<div class="ht-100 pos-relative">
    <div class="flex-abs-wrapper">
        <div class="flex flex-row ht-100">
            <iframe width="100%" height="800px" ng-src="http://www.gatewaycharterschool.org/wp-content/uploads/2015/04/GICS_FL_Parent_Handbook_-16-17.pdf" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
