<nav class="navbar navbar-default be-top-header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <span style="color:#4285f4;font-family: 'Merriweather', serif;">O3Schools</span>
            </a>
        </div>
        <div class="be-right-navbar">
            <ul class="nav navbar-nav navbar-right be-user-nav">
                <li class="dropdown">
                    <a href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><img ng-src='{{"http://metalearn-api.zaya.in" + (ctrl.user.profile.avatar || "/media/avatar.png")}}' alt="Avatar"><span class="user-name" ng-bind="ctrl.user.profile.fullname"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li>
                            <div class="user-info">
                                <div class="user-name" ng-bind="ctrl.user.profile.fullname"></div>
                                <div class="user-position online">Available</div>
                            </div>
                        </li>
                        <li><a href="" ui-sref="student.dashboard"><span class="icon mdi mdi-face"></span> Student</a></li>
                        <li><a href="" ui-sref="teacher.dashboard"><span class="icon mdi mdi-female"></span> Teacher</a></li>
                        <li><a href="" ng-click="ctrl.logout()"><span class="icon mdi mdi-power"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <div class="page-title f-s-18"><span ng-bind="ctrl.getTitle()"></span></div>
            <ul class="nav navbar-nav navbar-right be-icons-nav">
                <li class="dropdown"><a href="" role="button" aria-expanded="false" class="be-toggle-right-sidebar"><span class="icon mdi mdi-settings"></span></a></li>
                <!-- <li class="dropdown"><a href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-notifications"></span><span class="indicator"></span></a>
                    <ul class="dropdown-menu be-notifications">
                        <li>
                            <div class="title">Notifications<span class="badge">3</span></div>
                            <div class="list">
                                <div class="be-scroller" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                                    <div class="content">
                                        <ul class="list-unstyled">
                                            <li class="notification notification-unread">
                                                <a href="">
                                                    <div class="image"><img src="app/assets/img/avatar2.png" alt="Avatar"></div>
                                                    <div class="notification-info">
                                                        <div class="text"><span class="user-name">Jessica Caruso</span> accepted your invitation to join the team.</div><span class="date">2 min ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification">
                                                <a href="">
                                                    <div class="image"><img src="app/assets/img/avatar3.png" alt="Avatar"></div>
                                                    <div class="notification-info">
                                                        <div class="text"><span class="user-name">Joel King</span> is now following you</div><span class="date">2 days ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification">
                                                <a href="">
                                                    <div class="image"><img src="app/assets/img/avatar4.png" alt="Avatar"></div>
                                                    <div class="notification-info">
                                                        <div class="text"><span class="user-name">John Doe</span> is watching your main repository</div><span class="date">2 days ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="notification">
                                                <a href="">
                                                    <div class="image"><img src="app/assets/img/avatar5.png" alt="Avatar"></div>
                                                    <div class="notification-info"><span class="text"><span class="user-name">Emily Carter</span> is now following you</span><span class="date">5 days ago</span></div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer"> <a href="">View all notifications</a></div>
                        </li>
                    </ul>
                </li> -->
                <!-- <li class="dropdown"><a href="" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle"><span class="icon mdi mdi-apps"></span></a>
                    <ul class="dropdown-menu be-connections">
                        <li>
                            <div class="list">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="" class="connection-item"><img src="app/assets/img/github.png" alt="Github"><span>GitHub</span></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="" class="connection-item"><img src="app/assets/img/bitbucket.png" alt="Bitbucket"><span>Bitbucket</span></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="" class="connection-item"><img src="app/assets/img/slack.png" alt="Slack"><span>Slack</span></a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <a href="" class="connection-item"><img src="app/assets/img/dribbble.png" alt="Dribbble"><span>Dribbble</span></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="" class="connection-item"><img src="app/assets/img/mail_chimp.png" alt="Mail Chimp"><span>Mail Chimp</span></a>
                                        </div>
                                        <div class="col-xs-4">
                                            <a href="" class="connection-item"><img src="app/assets/img/dropbox.png" alt="Dropbox"><span>Dropbox</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="footer"> <a href="">More</a></div>
                        </li>
                    </ul>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
