<div class="be-left-sidebar flex-abs-wrapper">
    <div class="left-sidebar-wrapper flex flex-column">
        <a href="" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer flex-1 overflow-y-hidden">
            <div class="left-sidebar-scroll" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li ng-class="{ 'active' : isActive('/parent/handbook')}"><a href="" ui-sref="parent.handbook"><i class="icon mdi mdi-library"></i><span>Handbook</span></a></li>
                        <li ng-class="{ 'active' : isActive('/parent/children')}"><a href="" ui-sref="parent.childrens"><i class="icon mdi mdi-accounts-alt"></i><span>Children</span></a></li>
                        <li ng-class="{ 'active' : isActive('/parent/sms') || isActive('/parent/smsdetail')}"><a href="" ui-sref="parent.sms"><i class="icon mdi mdi-view-web"></i><span>Messages</span></a></li>
                        <li ng-class="{ 'active' : isActive('/parent/schedule')}"><a href="" ui-sref="parent.schedule"><i class="icon mdi mdi-calendar"></i><span>Schedule</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
