<div class="main-content container-fluid overflow-y-auto">
  <div class="row full-calendar">
    <div class="col-xs-12 col-md-8">
      <div class="panel panel-default panel-fullcalendar">
        <div class="panel-body">
          <div ui-calendar="ctrl.calendarConfig" class="span8 calendar" ng-model="ctrl.events"></div>
        </div>
      </div>
    </div>
  </div>
</div>