<div class="ht-100 pos-relative">
    <div class="flex-abs-wrapper">
        <div class="flex flex-row ht-100">
            <div class="flex-0 flex-aside">
                <div class="be-scroller">
                    <div class="aside-content">
                        <div class="content" style="padding:20px 22px;">
                            <div class="aside-header">
                                <button data-target=".aside-nav" data-toggle="collapse" type="button" class="navbar-toggle"><span class="icon mdi mdi-caret-down"></span></button><span class="title-f-20p">Conversation with teacher</span>                                
                            </div>
                        </div>
                        <div class="aside-nav collapse">
                            <ul class="nav">
                                <li class="active" ><a href="" ui-sref="parent.sms"><span class="label label-primary">18</span><i class="icon mdi mdi-inbox"></i> SMS</a></li>
                                <div class="aside-compose"><a class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#composeEmail">Compose Message</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1">
                <div class="pos-relative overflow-y-hidden ht-100" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                    <div class="message-reciever" style="margin: 5px;">
                    <div class="email-head">
                        <div class="email-head-sender">
                            <div class="date">August 23, 3:37</div>
                            <div class="avatar"><img src="app/assets/img/angela-2.jpg" alt="Avatar"></div>
                            <div class="sender"><a href="" class="text-muted">Angela Givens </a></div>
                        </div>
                    </div>
                    <div class="email-body">
                        <p>Urgent - You forgot your keys in the class room, please come imediatly!</p>
                    </div>
                </div>
                <div class="message-sender" style="margin: 5px;">
                    <div class="email-head">
                        <div class="email-head-sender">
                            <div class="date">August 23, 4:37</div>
                            <div class="avatar"><img src="app/assets/img/glenda-2.jpg" alt="Avatar"></div>
                            <div class="sender"><a href="">Glenda Jackson</a></div>
                        </div>
                    </div>
                    <div class="email-body">
                        <p>Thanks alot for informing me.</p>
                    </div>
                </div>
                <div class="form"  style="margin: 5px;">
                    <form class="form-horizontal">
                        <div class="input-group">
                            <input type"text" class="form-control" placeholder="Type your message here." />
                            <div class="input-group-addon"><a href="#"><i class="mdi mdi-mail-send"></i></a></div>
                        </div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="composeEmail" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Compose Message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group xs-pt-10">
                        <label>Parent's Phone Number</label>
                        <input type="text" placeholder="Type phone number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Message Content</label>
                        <textarea class="form-control" placeholder="Enter Message"></textarea>
                    </div>
                    <div class="col-xs-6">
                        <p class="text-right">
                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                            <button data-dismiss="modal" class="btn btn-space btn-default">Cancel</button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
