.btn-dotted{
    border-style: dotted ;
    border-color: #b5b5b5;
    border-width: 2px;
    opacity: 0.65;
    filter: alpha(opacity=65);
    line-height: 0.8 !important;
    padding: 5.5px 10px !important;
    box-shadow: none;
}

.bg-dark-grey{
    background-color: #EEEEEE;
}

.panel-label-container{
    padding:5px;
}

.card-label {
    float: left;
    height: 2px;
    margin: 0 3px 3px 0;
    padding: 0;
    width: 100%;
    line-height: 75pt;
    background-color: #B6BBBF;
    border-radius: 3px;
    color: #fff;
    font-weight: 700;
    margin-right: 3px;
    max-width: 100%;
    overflow: hidden;
    padding: 2px 4px;
    position: relative;
    text-overflow: ellipsis;
    text-shadow: 0 0 5px rgba(0,0,0,.2), 0 0 2px #000;
    white-space: nowrap;
}

.card-label-red {
    background-color: #EB5A46;
}

.card-label-light-blue {
    background-color: #F3F7F8;
}

.card-label-blue {
    background-color: #11B0FF;
}

.card-label-green {
    background-color: #61BD4F;
}

.card-label-default {
    background-color: #c9c9c9;
}

.panel-footer{
    padding: 10px 5px 5px 5px !important;
    background: #f9f9f9 !important;
}

.btn-disabled{
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel { 
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.icon-container > .lead{
    padding: 10px;
}


.class-display-avatar {
    /*position: absolute;*/
    /*left: 20px;*/
    /*top: -50px;*/
    border-radius: 50%;
    background-color: #ffffff;
}

.class-display-avatar img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #ffffff;
}

.panel > .btn-group{
    margin-top: 10px;
}
/*
.panel-heading > .icon-container{
    padding: 5px !important;
}

.icon-badge > .icon-container {
    background-color: #ffffff;
    padding: 20px 10px;
    cursor: default;
}*/

.btn-group > .be-radio-icon > label{
    background-color: #f5f5f5;
}

.action-container i{
    font-size: 1.5em;
}

.action-container a{
    color: #a5a5a5;
}

.btn-group > .be-radio-icon label {
    cursor: pointer;
    margin: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #d5d8de;
    border-radius: 50%;
    text-align: center;
    font-size: 25px;
    vertical-align: middle;
    color: #808080;
}


.student-creation-form-container{

}

.be-radio-icon > .active {
/*    border-color: #4285f4;
    color: #4285f4;*/
}


#sortable, #sortable2 {
  min-height: 20px;
  list-style-type: none;
  margin: 0;
}

/*#sortable2{
    height: 10px;
    background-color: #f3f3f3;
}*/

.no-panel-item-placeholder {
    height: 5em;
    line-height: 5em;
    background-color:#ecedf3;
    background-image: repeating-linear-gradient(45deg, transparent, rgba(255,255,255,.5) 5px, rgba(255,255,255, .5) 10px);
    margin-bottom: 10px;
    border-radius: 5px;
}

.board-head-container{
    margin: 30px 10px 30px 0px;
}

.board-heading{
    margin-left: 5px;
    font-size: 2em;
    font-weight: 400;
}

/*.board-panel-scroll
{
    max-height: 450px;
    overflow-y: scroll;
}*/



.panel-list-scroller{ 
    display: table-row;
}

.panel-list-container{ 
    display: inline-block;
    min-width: 350px;
    display: table-cell !important;
    padding:10px !important;
    display: inline-block;width:auto;
    border:1px solid #efefef;
}


#panel-list-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap;
}

.playlist-container{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
}


.container{
    padding:20px;
    border:dotted 1px;
    white-space:nowrap;
    overflow-x:auto;
}

.box{
    width:100px;
    height:180px;
    background-color: red;
    margin:10px;
    display:inline-block
}

.img-center {margin:0 auto;}


.img-responsive{
    margin: 0 auto;
}


.text-md{
    font-size: 15px;
}

.text-md{
    font-size: 15px;
}

.bold {
    font-weight: 400;
}
.text-sm{
    font-size: 14px;
}


.icon-container{
    padding: 5px;
}

.p-3{
    padding: 3px;
}

.p-20{
    padding: 20px;
}

.bragtags-container{
    margin:10px;
}

.bragtag{
    padding: 4px;
}


img.tagged-bragtag{
    margin-top: -5px !important;
}


body {
    /*font-family: "Lato", sans-serif;*/
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.m-t-20{
    margin-top:20px;
}


.gear-panel > .panel-subtitle{
    margin-top: 10px;
}

.nav-tabs.nav-justified
{
    border-bottom: 1px solid #efefef;
}
.nav-tabs.nav-justified>li>a,.nav-tabs.nav-justified>li>a>.icon
{
    font-size:26px;
}
.nav-tabs.nav-justified>.active>a {
    border: 0px !important;
    color:#4285f4 !important;
    /*border-bottom: 2px solid #4285f4 !important;*/
}
.nav-tabs.nav-justified>li>a {
    border-bottom: 0px;
}

.panel-tab-content{
    padding: 0px;
}


.focus-areas>.area
{
    display: inline-block;
    background-color: #efefef;
    border:1px solid #eee;
    color: black;
    font-weight: 600;
    width: 100px;
    padding: 7px;
    text-align: center;
    margin-bottom:5px;
}

.focus-areas>.area.area-green
{
    background-color: #55a864;
}
.focus-areas>.area.area-red
{
    background-color: #f04b45;
}
.focus-areas>.area.area-orange
{
    background-color: #f4853e;
}



.gallery-success .timeline-icon {
    background-color: #37b358;
}

.gallery-danger .timeline-icon {
    background-color: #eb6357;
}

.gallery-warning .timeline-icon {
    background-color: #f7c771;
}

.focus-areas .label
{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 15px;
}

.aside-header .title-f-20p {
    display: block;
    margin: 16px 0 0;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
}


.tab-chat .chat-window .chat-input .input-wrapper>span {
    position: absolute;
    color: #aaa;
    right: 15px;
    top: 50%;
    font-size: 20px;
    margin-top: -15px;
    cursor: pointer;
}