body
{
    overflow: hidden;
}
.be-wrapper
{
    padding-top:0px;
    padding-right: 0;
    padding-left: 0;
}

#surface
{
    display: flex;
    flex-direction:column;
}
#header
{
    flex:0;
}
#content
{
    flex:1;
    position: relative;
}
#leftnav
{
    flex:0 0 250px;
}
#leftnav
{
    /*overflow-y:auto;*/
}
#rightnav
{
    /*display: none;*/
}
#main-body
{
    flex:1;
}
.content-wrapper
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.prime-content
{
    display: flex;
    position: relative;
    height: 100%;
    flex-direction: row;
}
.be-left-sidebar
{
    position: relative;
    width: auto;
    left: auto;
}
.main-content
{
    position: relative;
}
.be-left-sidebar, .main-content {
    height: 100%;
    overflow-y: hidden;
    position: relative;
}



/*REUSABLE*/
.flex
{
    display:-webkit-flex;
    display: flex;
}
.flex-row
{
    flex-direction:row;
}
.flex-column
{
    flex-direction:column;
}
.flex-0
{
    -webkit-flex:0;
    flex:0;
}
.flex-1
{
    -webkit-flex:1;
    flex:1;
}
.flex-abs-wrapper
{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.flex-row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex-column.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

    .flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
      }

      .flex-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }

  .flex-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }


  .flex-top {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .flex-bottom {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .flex-around {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .flex-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .flex-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .flex-last {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .flex-aside
  {
    flex-basis:280px;
    background: none repeat scroll 0 0 #fff;
    /*padding:2em 0;*/
    border-right: 1px solid #e6e6e6;
  }