    .node {
        cursor: pointer;
    }
    
    .overlay {
        background-color: #f9f9f9;
        border-radius: 5px;
    }
    /*.node circle {
        fill: lightsteelblue;
        stroke: steelblue;
        stroke-width: 1.5px;
    }*/
    
    .node text {
        font-size: 10px;
        font-family: sans-serif;
    }
    
    .link {
        fill: none;
        /*stroke: steelblue;*/
        /*stroke-width: 3.5px;*/
    }
    /*.templink {
        fill: none;
        stroke: lightsteelblue;
        stroke-width: 3px;
    }*/
    
    .ghostCircle.show {
        display: block;
    }
    
    .ghostCircle,
    .activeDrag .ghostCircle {
        display: none;
    }
    
    .d3-context-menu {
        position: absolute;
        display: none;
        background-color: #f2f2f2;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        min-width: 150px;
        border: 1px solid #d4d4d4;
        z-index: 1200;
    }
    
    .d3-context-menu ul {
        list-style-type: none;
        margin: 4px 0px;
        padding: 0px;
        cursor: default;
    }
    
    .d3-context-menu ul li {
        padding: 4px 16px;
    }
    
    .d3-context-menu ul li:hover {
        background-color: #4677f8;
        color: #fefefe;
    }
    
    svg {
        width: 100%;
        height: 100%;
    }
    
    main {
        flex: 1;
        display: flex;
    }
    
    .wrap {
        height: 100vh;
        display: flex;
    }
    
    aside,
    article {
        overflow-y: scroll;
        padding: 2em;
    }
    
    aside {
        flex: 1;
    }
    
    .legend-container {
        margin-left: 20px;
        margin-bottom: 10px;
        /*display: none;*/
        border: 1px solid #f1f1f1;
        width: 150px;
        padding: 10px;
        background: rgba(255, 255, 255, 0.8);
        /*position: absolute;*/
    }
    
    .legend-item-box {
        margin-top: 3px;
    }
    
    .red-circle-ico {
        /*position: absolute;*/
        display: inline-block;
        border-radius: 50%;
        border: 10px solid rgb(217, 83, 79);
        font-size: 32px;
    }
    
    .green-circle-ico {
        /*position: absolute;*/
        display: inline-block;
        border-radius: 50%;
        border: 10px solid rgb(92, 184, 92);
        ;
        font-size: 32px;
    }
    
    #avatar-box {
        border: 1px solid #e4e4e4;
        /*height: 150px;*/
        /*width: 135px;*/
        display: inline-block;
        float: left;
        /*margin-top: 19%;*/
        margin-left: 20px;
        border-radius: 6px;
        text-align: center;
        box-sizing: border-box;
        padding: 10px;
        background-color: #efefef;
        box-shadow: 2px 2px 0px 1px #e4e4e4;
        /*display: none;*/
    }
    
    #avatar-image {
        margin-bottom: 10px;
    }
    
    #avatar-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        font-size: 18px;
    }
