.overflow-y-hidden
{
	overflow-y: hidden;
}
.overflow-y-auto
{
	overflow-y: auto;
}
.no-box-shadow
{
	box-shadow: none !important;
}
.ht-100
{
    height: 100%;
}
.pos-relative
{
    position: relative;
}
.pointer
{
	cursor: pointer !important;
}
.d-ib
{
	display: inline-block;
}
.d-i
{
	display: inline;
}
.d-b
{
	display: block;
}
.f-s-18
{
    font-size: 18px !important;
    font-weight: 300 !important;
}

.f-s-14
{
    font-size: 14px !important;
    font-weight: 300 !important;
}

.f-s-13
{
    font-size: 13px !important;
    font-weight: 300;
}

.f-s-11
{
    font-size: 11px !important;
    /*font-weight: 300;*/
}

.c-666
{
    color:#666 !important;
}