<div class="be-content board-wrapper">
     <div class="board-main-content">
         <div class="board-header"></div>
         <div class="board-canvas">
             <div id="board" ui-sortable="{containment:'window',helper:'clone',appendTo:'body', 'forcePlaceholderSize':true}" >
                 <div class="list-container"  ng-repeat="content in ctrl.content">
                     <div class="panel panel-default list">
                         <div class="panel-heading f-s-18" ng-bind="content.title"><span class="panel-subtitle"></span></div>
                         <div class="panel-body list-cards" ui-sortable="{containment:'window',connectWith:'.list-cards',helper:'clone',appendTo:'body', 'forcePlaceholderSize':true}" >
                             <div class="panel panel-border list-card" ng-repeat="lesson in content.lessons" ng-click="ctrl.showLesson(lesson.node.id, $index)">
                                 <div class="panel-label-container">
                                     <span class="card-label-red card-label" ng-if="lesson.mldata.result=='fail'"> </span>
                                     <span class="card-label-default card-label" ng-if="lesson.mldata.result==undefined"> </span>
                                     <span class="card-label-green card-label" ng-if="lesson.mldata.result=='pass'">  </span>
                                     <div class="clearfix"></div>
                                 </div>
                                 <div class="panel-heading f-s-14" ng-bind="lesson.node.title"></div>
                                 <div class="panel-footer text-right">
                                     <!-- <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a> -->
                                     <a href="" type="button" class="btn btn-space btn-disabled btn-default" ng-if="lesson.mldata.type!='recommended'"><span class="text-primary">LP</span></a>
                                     <a href="" type="button" class="btn btn-space btn-disabled btn-default" ng-if="lesson.mldata.type=='recommended'" uib-tooltip="Hooray!"><span class="text-danger">Recommended</span></a>
                                 </div>
                             </div>
                        </div>
                        <!-- <a class="panel-add">Add Card...</a> -->
                     </div>
                 </div>
                 <!-- <div class="list-container list-add">
                     <span> Add List...</span>
                 </div> -->
             </div>
         </div>
     </div>     
</div>
<style>
    div[ui-view=""]
    {
        height: 100%;
    }    
    .be-wrapper
    {
        display: flex;
        flex-direction: column;
        padding-top: 0px;
    }
    #header
    {
        flex:none;
    }
    #header>.navbar-fixed-top
    {
        position: relative;
    }
    #main-body
    {
        flex: 1;
        position: relative;
    }
    .board-wrapper
    {
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        margin-left: 0;
    }
    .board-main-content
    {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .board-header
    {
        flex: none;
        padding: 10px;
        font-size: 19px;
    }
    .board-canvas
    {
        flex: 1;
        position: relative;
    }
    #board
    {
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        margin-left: 0;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .list-container
    {
        width: 270px;
        margin: 0 5px;
        display: inline-block;
        height: 100%;
        vertical-align: top;
        box-sizing: border-box;
        overflow: hidden;
        border:1px solid #efefef;
    }
    .list-container:first-child
    {
        margin-left: 10px;
    }
    .panel.list
    {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        white-space: normal;
        box-sizing: border-box;
        overflow: hidden;
        padding-bottom: 20px;
    }
    .panel.list>.panel-heading>.panel-subtitle
    {
        display: none;
    }
    .panel.list>.panel-heading
    {
        flex:0;
        cursor: pointer;
    }
    .panel.list>.panel-body
    {
        flex: 1;
        margin: 0 5px; 
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 8px 10px 15px;
    }
    .panel-add
    {
        flex: 0 0 auto;
        padding: 10px 15px;
        cursor: pointer;
        transition:background-color 0.25s;
    }
    .panel-add:hover
    {
        background-color: #5f99f5;
        color:#fff;
    }
    .list-card
    {
        margin-bottom: 15px;
        cursor: pointer;
    }
    .list-card>.panel-heading
    {
        padding: 10px 15px 15px;
        margin: 0px;
    }
    .list-add>span
    {
        background: rgba(0,0,0,.12);
        display: block;
        border-radius: 2px;
        padding: 10px;
        color: #fff;
        cursor: pointer;
    }
    .list-add>span:hover
    {
        background-color: #5f99f5;
        color:#fff;
    }
    .ui-sortable-helper
    {
        box-shadow: none;
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
        cursor: grabbing;
        border: 0px;
    }
    .ui-sortable-placeholder
    {
        background: rgba(0,0,0,.12);
        visibility: visible !important;
    }
</style>