<div class="main-content h1-100">
    <div class="row" style="height: 100%; overflow: scroll; padding-bottom: 80px"">
        <div class="col-md-4" ng-repeat-start="bragtag in ctrl.bragtags">
            <div class="panel">
                <div class="post-img-content" ng-style="{'background-image':'url({{bragtag.image}})'}">
                </div>
                <div class="panel-heading panel-heading-divider">
                    <span class="ng-binding" ng-bind="bragtag.title"></span>
                    <span class="panel-subtitle ng-binding" ng-bind="ctrl.user.username"></span>
                    <small class="panel-subtitle ng-binding" ng-bind="bragtag.created| date"></small>
                </div>
                <div class="panel-body">
                    <p class="ng-binding" ng-bind="bragtag.description"></p>
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group btn-hspace">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Move To<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                            <ul role="menu" class="dropdown-menu pull-left">
                                <li ng-repeat="collection in ctrl.collections"><a href="" ng-bind="collection.title"></a></li>
                            </ul>
                        </div>
                        <a type="button" ng-click="ctrl.removeBragtagFromCollection(bragtag)" data-toggle="dropdown" class="pull-right btn btn-danger dropdown-toggle">Remove</a>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clearfix" ng-repeat-end ng-if="($index + 1) % 3 == 0">
        </div>
    </div>
</div>
<style>
    .post-img-content
    {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>