<div class="main-content h1-100">
    <div class="row" style="height: 100%; overflow: scroll; padding-bottom: 80px"">
        <div class="col-md-3" ng-repeat="collection in ctrl.collections">
            <div class="panel">
                <div class="panel-body">
                	<div class="pull-right"><a href="" ui-sref="teacher.bragtagcollectionDetails({'collectionId': collection.id})"><i class="lead mdi mdi-open-in-new"></i></div>
                    <span class="lead ng-binding" ng-bind="collection.title"></span>
                    <span class="panel-subtitle ng-binding" ng-bind="ctrl.user.username"></span>
                    <p class="ng-binding" ng-bind="collection.description"></p>                    
                    <small class="panel-subtitle ng-binding" ng-bind="collection.created| date">Mar 15, 2017 11:01:07 AM</small>
                </div>
            </div>
        </div>
        <div class="clearfix" ng-if="($index + 1) % 3 == 0">
        </div>
    </div>
</div>
<style>
    .post-img-content
    {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>