<div class="main-content ht-100" perfect-scrollbar suppress-scroll-x="true" wheel-propagation="true">
    <div class="container-fluid">
        <div class="row">
            <div class="student-box col-md-3" ng-repeat="student in ctrl.students">
                        <div class="panel panel-default text-center pointer">
                            <div class="panel-heading">
<!--                                 <div class="row action-container">
                                    <div class="col-xs-6 text-left text-sm"><a href=""><i class="text-sm icon mdi mdi-swap"></i></a></div>
                                    <div class="col-xs-6 text-right text-sm"><a href=""><i class="icon mdi mdi-open-in-new"></i></a></div>
                                </div>
 -->                                <div class="icon-container">
                                    <div class="class-display-avatar">
                                        <img ng-src="{{student.avatar}}" alt="Avatar" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <a class="lead text-md text-muted bold ng-binding" ng-bind="student.name"></a><br>
                                    <a class="lead text-sm ng-binding">last badge : <b>{{student.last_badge}}</b></a>
                                </p>

                                    <div class="btn-group btn-space">
                                        <button type="button" class="btn btn-default"><h4 class="text-success bold" ng-bind="student.kudos">0</h4> kudos</button>
                                        <button type="button" class="btn btn-default"><h4 class="text-danger bold" ng-bind="student.nudges">0</h4> nudges</button>
                                    </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>
