<div class="main-content h1-100">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <form class="form-inline" style="margin-top: 15px;">
                        <div class="form-group">
                            <input class="form-control input-sm" type="file" file-model="ctrl.newBragtag.image">
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" placeholder="Title" ng-model='ctrl.newBragtag.title'>
                        </div>
                        <div class="form-group">
                            <input class="form-control input-sm" type="text" placeholder="Description" ng-model='ctrl.newBragtag.description'>
                        </div>
                        <button class="btn btn-lg btn-success" ng-click="ctrl.addBragTag()" style="line-height: 35px;">Add Bragtag</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height: 100%; overflow: scroll; padding-bottom: 80px"">
        <div class="col-md-4" ng-repeat-start="bragtags in ctrl.bragtags">
            <div class="panel">
                <div class="post-img-content" ng-style="{'background-image':'url({{bragtags.image}})'}">
                </div>
                <div class="panel-heading panel-heading-divider">
                    <span class="ng-binding" ng-bind="bragtags.title"></span>
                    <span class="panel-subtitle ng-binding" ng-bind="ctrl.user.username"></span>
                    <small class="panel-subtitle ng-binding" ng-bind="bragtags.created| date"></small>
                </div>
                <div class="panel-body">
                    <p class="ng-binding" ng-bind="bragtags.description"></p>
                    <div class="row">
                    <div class="col-lg-12">
                        <div class="btn-group btn-hspace">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Move To Collection<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                            <ul role="menu" class="dropdown-menu pull-left">
                                <li  ng-repeat="collection in ctrl.collections"><a href="" ng-click="ctrl.addBragtagToCollection(bragtags, collection)" ng-bind="collection.title"></a></li>
                            </ul>
                        </div>
                        <a type="button" data-toggle="dropdown" ng-click="ctrl.deleteBragtag(bragtags)" class="pull-right btn btn-danger dropdown-toggle">Remove</a>
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="clearfix" ng-repeat-end ng-if="($index + 1) % 3 == 0">
        </div>
    </div>
</div>
<style>
    .post-img-content
    {
        width: 100%;
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
</style>