<div class="main-content container-fluid ht-100" style="display: flex;flex-direction: column;">
    <div class="row" style="flex:0;" ng-hide="true">
        <div class="col-md-12">
            <!-- collapse button -->
            <div class="text-right">
                <a style="padding: 5px;" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="be-radio-icon inline">
                        <label for="rad1"><span class="mdi mdi-account-add"></span></label>
                    </div>
                </a>
                <a style="padding: 5px;" href="pages-leader-class-students-drop.html" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="be-radio-icon inline">
                        <label for="rad1"><span class="mdi mdi-accounts-add"></span></label>
                    </div>
                </a>
            </div>
            <!-- end collapse button -->
            <!-- form container -->
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <form class="form-horizontal row">
                        <div class="col-lg-6">
                            <div class="form-group xs-mt-10">
                                <label for="fullname" class="col-sm-2 control-label">Fullname</label>
                                <div class="col-sm-10">
                                    <input id="fullname" type="text" placeholder="Enter student's fullname" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input id="email" type="text" placeholder="Enter student's email" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row xs-pt-15">
                                <div class="col-xs-12">
                                    <div class="be-checkbox">
                                        <input id="check1" type="checkbox">
                                        <label for="check1">set default avatar</label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="be-checkbox">
                                        <input id="check2" type="checkbox">
                                        <label for="check2">set default password</label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <p class="text-left xs-mt-20">
                                        <button type="submit" class="btn btn-space btn-primary">Register</button>
                                        <button class="btn btn-space btn-default">Cancel</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end form container -->
        </div>
    </div>
    <div class="pos-relative" style="flex:1;">
        <div class="content-wrapper">
            <div class="row ht-100" ng-init="ctrl.studentView=false">
                <div class="ht-100 overflow-y-auto" ng-class="{'col-xs-3':ctrl.studentView, 'col-xs-12':!ctrl.studentView}">
                    <div class="student-box" ng-class="{'col-md-12':ctrl.studentView, 'col-md-3':!ctrl.studentView, 'active':ctrl.studentView===($index+1)}" ng-repeat="student in students">
                        <div class="panel panel-default text-center pointer" ng-click="(ctrl.studentView=ctrl.studentView==$index+1?false:$index+1);ctrl.loadRandomTab()">
                            <div class="panel-heading">
                                <div class="row action-container">
                                    <div class="col-xs-6 text-left text-sm"><a href=""><i class="text-sm icon mdi mdi-swap"></i></a></div>
                                    <div class="col-xs-6 text-right text-sm"><a href=""><i class="icon mdi mdi-open-in-new"></i></a></div>
                                </div>
                                <div class="icon-container">
                                    <div class="class-display-avatar">
                                        <img ng-src="{{student.pic}}" alt="Avatar" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <p>
                                    <a class="lead text-md text-muted bold" ng-bind="student.name"></a><br>
                                </p>

                                <!-- <div class="btn-group">
                                    <div class="be-radio-icon inline">
                                        <label for="rad2"><span class="mdi mdi-layers"></span></label>
                                    </div>
                                    <div class="be-radio-icon inline">
                                        <label for="rad2"><span class="mdi mdi-graphic-eq"></span></label>
                                    </div>
                                    <div class="be-radio-icon inline">
                                        <label for="rad2"><span class="mdi mdi-shield-security"></span></label>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-xs-9 ht-100 overflow-y-auto" ng-show="ctrl.studentView">
                    <div class="row"  perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                        <div class="col-md-12">
                            <div class="panel panel-default no-box-shadow">
                                <div class="tab-container col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="f-s-18" style="margin-top:11px;">Subject Completion</div>
                                            <ul class="nav nav-tabs nav-justified">
                                                <li class="" ng-class="{'active':isActive==$index}" ng-click="ctrl.loadTab($index)" ng-repeat="tab in tabs">
                                                    <a href="">
                                                        <img ng-src="{{'/app/assets/img/subjects/'+tab.icon}}" alt="" class="img-responsive"  style="width:90px;display:inline;"/>
                                                        <span ng-bind="tab.percent+'%'"></span>
                                                        <!-- <div class="panel-heading" ng-bind="tab.subject"></div> -->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="progress" style="height:12px;background-color: initial;">
                                        <div ng-style="{'width':tabContent.percent+'%'}" class="progress-bar" ng-class="{'progress-bar-danger':(tabContent.percent < 33), 'progress-bar-warning':(tabContent.percent >= 33 && tabContent.percent < 75), 'progress-bar-success':(tabContent.percent >= 75)}"></div>
                                    </div>
                                    <div class="tab-content">
                                        <div id="home" class="tab-pane cont active">
                                            <ng-include src="'/app/components/student/templates/dashboard.tabs.html'"></ng-include>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .student-box.active .panel
    {
        background-color: #4285f4;
        color: white;
    }
    .student-box.active a
    {
        color: white !important;
    }
    .student-box.active .class-display-avatar,.student-box.active .icon-container
    {
        background-color: #4285f4;

    }
</style>