<div class="main-content ht-100">
    <aside class="page-aside bg-dark-grey">
        <div class="be-scroller nano">
            <div class="nano-content">
                <div class="content">
                    <ul class="list-unstyled" style="margin-top: 5px;">
                        <li class="active">
                            <div class="col-sm-12">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <div class="row action-container">
                                            <div class="col-xs-6 text-left text-sm"><a href=""><i class="text-sm icon mdi mdi-swap"></i></a></div>
                                            <div class="col-xs-6 text-right text-sm"><a href=""><i class="icon mdi mdi-open-in-new"></i></a></div>
                                        </div>
                                        <div class="icon-container">
                                            <div class="class-display-avatar">
                                                <img src="assets/img/avatar-150.png" alt="Avatar" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <a class="lead text-md text-muted bold" href="">Ashish T.</a>
                                            <br>
                                            <a class="lead text-sm" href="">Fresh</a>
                                        </p>
                                        <div class="btn-group">
                                            <div class="be-radio-icon inline">
                                                <label for="rad2"><span class="mdi mdi-layers"></span></label>
                                            </div>
                                            <div class="be-radio-icon inline">
                                                <label for="rad2"><span class="mdi mdi-graphic-eq"></span></label>
                                            </div>
                                            <div class="be-radio-icon inline">
                                                <label for="rad2"><span class="mdi mdi-shield-security"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="active">
                            <div class="col-sm-12">
                                <div class="panel panel-default text-center">
                                    <div class="panel-heading">
                                        <div class="row action-container">
                                            <div class="col-xs-6 text-left text-sm"><a href=""><i class="text-sm icon mdi mdi-swap"></i></a></div>
                                            <div class="col-xs-6 text-right text-sm"><a href=""><i class="icon mdi mdi-open-in-new"></i></a></div>
                                        </div>
                                        <div class="icon-container">
                                            <div class="class-display-avatar">
                                                <img src="assets/img/avatar-150.png" alt="Avatar" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            <a class="lead text-md text-muted bold" href="">Ashish T.</a>
                                            <br>
                                            <a class="lead text-sm" href="">Fresh</a>
                                        </p>
                                        <div class="btn-group">
                                            <div class="be-radio-icon inline">
                                                <label for="rad2"><span class="mdi mdi-layers"></span></label>
                                            </div>
                                            <div class="be-radio-icon inline">
                                                <label for="rad2"><span class="mdi mdi-graphic-eq"></span></label>
                                            </div>
                                            <div class="be-radio-icon inline">
                                                <label for="rad2"><span class="mdi mdi-shield-security"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <div class="main-content container-fluid">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="tab-container">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#home5" data-toggle="tab"><span class="icon mdi mdi-bike"></span><div class="panel-heading">Atheletics</div></a></li>
                        <li><a href="#profile5" data-toggle="tab"><span class="icon mdi mdi-car"></span><div class="panel-heading">Mathematics</div></a></li>
                        <li><a href="#messages5" data-toggle="tab"><span class="icon mdi mdi-bus"></span><div class="panel-heading">S.E.L</div></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home5" class="tab-pane active cont">
                            <h4>Top Tabs</h4>
                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta lacus ipsum, tempus consequat turpis auctor sit amet. Pellentesque porta mollis nisi, pulvinar convallis tellus tristique nec.</p>
                            <p> Nam aliquet consequat quam sit amet dignissim. Quisque vel massa est. Donec dictum nisl dolor, ac malesuada tellus efficitur non. Pellentesque pellentesque odio neque, eget imperdiet eros vehicula lacinia.</p>
                        </div>
                        <div id="profile5" class="tab-pane cont">
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                            <p> Consectetur adipisicing elit. Minima praesentium laudantium ipsa, enim maxime placeat, dolores quos sequi nisi iste velit perspiciatis rerum eveniet voluptate laboriosam perferendis ipsum. Expedita, maiores.</p>
                        </div>
                        <div id="messages5" class="tab-pane">
                            <p>Consectetur adipisicing elit. Ipsam ut praesentium, voluptate quidem necessitatibus quam nam officia soluta aperiam, recusandae.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos facilis laboriosam, vitae ipsum tenetur atque vel repellendus culpa reiciendis velit quas, unde soluta quidem voluptas ipsam, rerum fuga placeat rem error voluptate eligendi modi. Delectus, iure sit impedit? Facere provident expedita itaque, magni, quas assumenda numquam eum! Sequi deserunt, rerum.</p><a href="#">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
