<div class="ht-100 pos-relative">
    <div class="flex-abs-wrapper">
        <div class="flex flex-column ht-100">
            <div class="flex-0" style="padding-top:10px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="widget widget-tile">
                                <div id="spark1" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_1.data" opts="{{ctrl.sparkline_1.opts}}"></div>
                                <div class="data-info">
                                    <div class="desc">Knowledge
                                        <br/>Map Progress</div>
                                    <div class="value"><span class="indicator indicator-equal mdi mdi-chevron-right"></span>
                                    <ng-count-up from="0" to="113"></ng-count-up>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="widget widget-tile">
                                <div id="spark2" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_2.data" opts="{{ctrl.sparkline_2.opts}}"></div>
                                <div class="data-info">
                                    <div class="desc">Recommendations
                                        <br/>from system</div>
                                    <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                                    <ng-count-up from="0" to="80"></ng-count-up>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="widget widget-tile">
                                <div id="spark3" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_3.data" opts="{{ctrl.sparkline_3.opts}}"></div>
                                <div class="data-info">
                                    <div class="desc">Students on
                                        <br/>track</div>
                                    <div class="value"><span class="indicator indicator-positive mdi mdi-chevron-up"></span>
                                    <ng-count-up from="0" to="4"></ng-count-up>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 col-lg-3">
                            <div class="widget widget-tile">
                                <div id="spark4" class="chart sparkline" jq-sparkline ng-model="ctrl.sparkline_4.data" opts="{{ctrl.sparkline_4.opts}}"></div>
                                <div class="data-info">
                                    <div class="desc">Concepts
                                        <br/>Mastered</div>
                                    <div class="value"><span class="indicator indicator-negative mdi mdi-chevron-down"></span>
                                    <ng-count-up from="0" to="113"></ng-count-up>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 pos-relative">
                <div class="flex-abs-wrapper" style="padding:0 15px;margin-bottom: 15px;">
                    <div class="panel panel-default flex flex-column ht-100">
                      <ul class="nav nav-tabs nav-tabs-primary flex-0 flex-start">
                        <li class="active lead"><a href="" data-target="#insightsTab" data-toggle="tab"><i class="mdi mdi-trending-up"></i> Analytics</a></li>
                        <li class="lead"><a href="" data-target="#playlistTab" data-toggle="tab"><i class="mdi mdi-library"></i> Playlist</a></li>
                      </ul>
                      <div class="tab-content panel-tab-content flex-1 flex-end pos-relative" style="margin-bottom: 0px;">
                        <div id="insightsTab" class="tab-pane active flex-abs-wrapper overflow-y-hidden" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="width:5%;">
                                            <div class="be-checkbox be-checkbox-sm">
                                                <input id="check1" type="checkbox">
                                                <label for="check1"></label>
                                            </div>
                                        </th>
                                        <th style="width:20%;">User</th>
                                        <th style="width:17%;">Current Module</th>
                                        <th style="width:15%;">Milestone</th>
                                        <th style="width:10%;">Skill</th>
                                        <th style="width:10%;">Last Worked</th>
                                        <th style="width:10%;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="be-checkbox be-checkbox-sm">
                                                <input id="check2" type="checkbox">
                                                <label for="check2"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="app/assets/img/alexa-2.jpg" alt="Avatar"><span>Alexa Jackson</span></td>
                                        <td class="cell-detail"> <span>Reading Strategies</span><span class="cell-detail-description">English Playlist</span></td>
                                        <td class="milestone">
                                        <div>
                                            <span class="completed">8 / 15</span>
                                            <div class="clearfix"></div>
                                        </div>
                                            <div class="progress">
                                                <div style="width: 35%" class="progress-bar progress-bar-primary"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>low</span></td>
                                        <td class="cell-detail"><span>May 6, 2016</span><span class="cell-detail-description">8:30</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <ul role="menu" class="dropdown-menu pull-right">
                                                    <li><a>Message Parent</a></li>
                                                    <li><a>Share Report</a></li>
                                                    <li class="divider"></li>
                                                    <li><a>Setup Conference</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="be-checkbox be-checkbox-sm">
                                                <input id="check3" type="checkbox">
                                                <label for="check3"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="app/assets/img/carlos-2.jpg" alt="Avatar"><span>Carlos Herrera</span></td>
                                        <td class="cell-detail"> <span>Conversations : What is your name</span><span class="cell-detail-description">English Playlist</span></td>
                                        <td class="milestone">
                                        <div>
                                            <span class="completed">22 / 30</span>
                                            <div class="clearfix"></div>
                                        </div>
                                            <div class="progress">
                                                <div style="width: 55%" class="progress-bar progress-bar-primary"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>medium</span></td>
                                        <td class="cell-detail"><span>April 22, 2016</span><span class="cell-detail-description">14:45</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <ul role="menu" class="dropdown-menu pull-right">
                                                    <li><a>Message Parent</a></li>
                                                    <li><a>Share Report</a></li>
                                                    <li class="divider"></li>
                                                    <li><a>Setup Conference</a></li>
                                                </ul>
                                            </div>
                                        </td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="be-checkbox be-checkbox-sm">
                                                <input id="check4" type="checkbox">
                                                <label for="check4"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="app/assets/img/amy-2.jpg" alt="Avatar"><span>Amy Chang</span></td>
                                        <td class="cell-detail"> <span>Reading Strategies</span><span class="cell-detail-description">English Playlist</span></td>
                                        <td class="milestone">
                                        <div>
                                            <span class="completed">10 / 30</span>
                                            <div class="clearfix"></div>
                                        </div>
                                            <div class="progress">
                                                <div style="width: 43%" class="progress-bar progress-bar-primary"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>low</span></td>
                                        <td class="cell-detail"><span>April 15, 2016</span><span class="cell-detail-description">10:00</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <ul role="menu" class="dropdown-menu pull-right">
                                                    <li><a>Message Parent</a></li>
                                                    <li><a>Share Report</a></li>
                                                    <li class="divider"></li>
                                                    <li><a>Setup Conference</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="be-checkbox be-checkbox-sm">
                                                <input id="check5" type="checkbox">
                                                <label for="check5"></label>
                                            </div>
                                        </td>
                                        <td class="user-avatar cell-detail user-info"><img src="app/assets/img/jamal-2.jpg" alt="Avatar"><span>Jamal Barnes</span></td>
                                        <td class="cell-detail"> <span>Reading Strategies</span><span class="cell-detail-description">English Playlist</span></td>
                                        <td class="milestone">
                                        <div>
                                            <span class="completed">25 / 40</span>
                                            <div class="clearfix"></div>
                                        </div>
                                            <div class="progress">
                                                <div style="width: 75%" class="progress-bar progress-bar-primary"></div>
                                            </div>
                                        </td>
                                        <td class="cell-detail"><span>medium</td>
                                        <td class="cell-detail"><span>April 8, 2016</span><span class="cell-detail-description">17:24</span></td>
                                        <td class="text-right">
                                            <div class="btn-group btn-hspace">
                                                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action<span class="icon-dropdown mdi mdi-chevron-down"></span></button>
                                                <ul role="menu" class="dropdown-menu pull-right">
                                                    <li><a>Message Parent</a></li>
                                                    <li><a>Share Report</a></li>
                                                    <li class="divider"></li>
                                                    <li><a>Setup Conference</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div id="playlistTab" class="tab-pane ht-100" ng-controller="teacherElaPlaylistController as ctrl">
                            <div ng-include src="'html/sample.playlist.html'" class="ht-100"></div>
                        </div>  
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
