<div class="main-content container-fluid overflow-y-hidden" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <a style="padding: 5px;" href="#" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="be-radio-icon inline">
                        <label for="rad1"><span class="mdi mdi-account-add"></span></label>
                    </div>
                </a>
                <a style="padding: 5px;" href="pages-leader-class-students-drop.html" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <div class="be-radio-icon inline">
                        <label for="rad1"><span class="mdi mdi-accounts-add"></span></label>
                    </div>
                </a>
            <div class="collapse" id="collapseExample">
                <div class="well">
                    <form class="form-horizontal row">
                        <div class="col-lg-6">
                            <div class="form-group xs-mt-10">
                                <label for="fullname" class="col-sm-2 control-label">Fullname</label>
                                <div class="col-sm-10">
                                    <input id="fullname" type="text" placeholder="Enter student's fullname" class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input id="email" type="text" placeholder="Enter student's email" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row xs-pt-15">
                                <div class="col-xs-12">
                                    <div class="be-checkbox">
                                        <input id="check1" type="checkbox">
                                        <label for="check1">set default avatar</label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="be-checkbox">
                                        <input id="check2" type="checkbox">
                                        <label for="check2">set default password</label>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <p class="text-left xs-mt-20">
                                        <button type="submit" class="btn btn-space btn-primary">Register</button>
                                        <button class="btn btn-space btn-default">Cancel</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row">
        <div class="col-xs-12">
            <div role="alert" class="alert alert-primary alert-icon alert-dismissible">
                <div class="icon"><span class="mdi mdi-info-outline"></span></div>
                <div class="message">
                    <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                        <span aria-hidden="true" class="mdi mdi-close"></span>
                    </button>
                    Good Morning Angela, here is the summary of your students progress to date, <i>two PD videos</i> and <i>1 parent conference</i> on your schedule with Mrs Jackson, 2 students  conferences with Alexa and Jamal. 
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default no-box-shadow">
                <div class="tab-container col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="f-s-18" style="margin-top:11px;">Classes</div>
                            <ul class="nav nav-tabs nav-justified">
                                <li class="" ng-class="{'active':ctrl.isActive==$index}" ng-click="ctrl.loadTab($index)" ng-repeat="tab in ctrl.tabs">
                                    <a class="text-left">
                                        <span ng-bind="tab.subject"></span>
                                        <!-- <div class="panel-heading" ng-bind="tab.subject"></div> -->
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="progress" style="height:12px;background-color: initial;">
                        <div ng-style="{'width':tabContent.percent+'%'}" class="progress-bar" ng-class="{'progress-bar-danger':(tabContent.percent < 33), 'progress-bar-warning':(tabContent.percent >= 33 && tabContent.percent < 75), 'progress-bar-success':(tabContent.percent >= 75)}"></div>
                    </div>
                    <div class="tab-content">
                        <div id="home" class="tab-pane cont active">
                            <ng-include src="'/app/components/teacher/templates/dashboard.tabs.html'"></ng-include>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>