<div class="row">
    <div class="col-md-4">
        <div  style="min-height:232px;">
            <div class="f-s-18">Subjects</div>
            <table class="table">
                <tbody>
                    <tr ng-repeat="objective in tabContent.objectives">
                        <td class="cell-detail" ng-style="{'border-top':($index!=0?'auto':0)}"> 
                            <span ng-bind="::objective.title"></span>
                        </td>
                        <td class="milestone" width="50%" style="border-top:0px;">
                            <div>
                            <!-- <span class="version">v1.2.0</span> -->
                                <span class="completed" ng-bind="objective.progress+' / '+objective.total"></span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="progress">
                                <div ng-style="{width:(objective.progress/objective.total*100)+'%'}" class="progress-bar progress-bar-primary"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div style="border-bottom:1px solid #efefef;">
                <div class="f-s-18">
                    Goals
                    <div class="pull-right" style="margin-top:5px;">40%</div>
                    <div class="clearfix"></div> 
                </div>
            </div>
            <div class="progress" style="height:12px;background-color: initial;">
                <div style="width: 40%" class="progress-bar progress-bar-primary"></div>
            </div>
            <div class="todo-wrapper">
                <div class="be-scroller">
                    <div class="todo-content">
                        <div ng-repeat="goal in tabContent.goals">
                            <!-- <span class="category-title" ng-bind="goal.title"></span> -->
                            <ul class="todo-list">
                                <li ng-repeat="step in goal.steps">
                                    <div class="be-checkbox be-checkbox-sm">
                                        <span class="delete mdi mdi-delete"></span>
                                        <input id="{{'todo_'+$parent.$index+'_'+$index}}" type="checkbox">
                                        <label for="{{'todo_'+$parent.$index+'_'+$index}}" ng-bind="step"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 col-md-offset-1">
        <div class="col-xs-12" style="min-height:250px;">
            <div class="f-s-18">Conference</div>
            <div class="tab-chat">
                <div class="contact-list contact-list-recent">
                    <div class="user">
                        <a href=""><img src="/app/assets/img/glenda-2.jpg" alt="Avatar">
                            <div class="user-data"><span class="status away"></span><span class="name">Mrs. Jackson</span><span class="message">Can you share the...</span></div>
                        </a>
                    </div>
                    <div class="user">
                        <a href=""><img src="/app/assets/img/alexa-2.jpg" alt="Avatar">
                            <div class="user-data"><span class="status"></span><span class="name">Alexa Jackson</span><span class="message">I confirmed the info.</span></div>
                        </a>
                    </div>
                    <div class="user">
                        <a href=""><img src="/app/assets/img/jamal-2.jpg" alt="Avatar">
                            <div class="user-data"><span class="status offline"></span><span class="name">Jamal Barnes   </span><span class="message">Ready for the meeti...</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12" ng-if="tabContent.professionalDev.length">
            <div class="f-s-18">Professional Development</div>
            <div class="f-s-13" style="color:#999;">Suggested videos for you</div>
            <br>
            <div class="row">
                <div class="col-xs-6" ng-repeat="pdvideo in tabContent.professionalDev">
                    <iframe width="100%" src="{{pdvideo.video}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<style>
 div[bar-chart]>svg{overflow: visible !important;}
</style>