<div class="main-content h1-100">
    <aside class="page-aside">
        <div class="be-scroller">
            <div class="aside-content">
                <div class="content">
                    <div class="aside-header">
                        <button data-target=".aside-nav" data-toggle="collapse" type="button" class="navbar-toggle"><span class="icon mdi mdi-caret-down"></span></button><span class="title">Notitication Service</span>
                        <p class="description">Conversation with parents.</p>
                    </div>
                </div>
                <div class="aside-nav collapse">
                    <ul class="nav">
                        <li class="active"><a href="" ui-sref="teacher.emails"><span class="label label-primary">8</span><i class="icon mdi mdi-inbox"></i> Inbox</a></li>
                        <li><a href="" ui-sref="teacher.sms"><span class="label label-primary">18</span><i class="icon mdi mdi-inbox"></i> SMS</a></li>
                        <div class="aside-compose"><a class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#composeEmail">Compose Email</a></div>
                </div>
            </div>
        </div>
    </aside>
    <div class="main-content container-fluid" style="margin-left: 100px;">
        <div class="email-head">
            <div class="email-head-subject">
                <div class="title"><a href="#" class="active"><span class="icon mdi mdi-star"></span></a> <span>Development Files</span>
                    <div class="icons"><a href="#" data-toggle="modal" data-target="#composeEmail"><i class="icon mdi mdi-mail-reply"></i></a><a href="#"><i class="icon mdi mdi-print"></i></a><a href="#"><i class="icon mdi mdi-delete"></i></a></div>
                </div>
            </div>
            <div class="email-head-sender">
                <div class="date">August 23, 3:37</div>
                <div class="avatar"><img src="app/assets/img/avatar3.png" alt="Avatar"></div>
                <div class="sender"><a href="">Penelope Thornton</a> to <a href="">me</a>
                    <div class="actions"><a href="#" data-toggle="dropdown" class="icon toggle-dropdown"><i class="mdi mdi-caret-down"></i></a>
                        <ul role="menu" class="dropdown-menu">
                            <li><a href="#">Mark as read</a></li>
                            <li><a href="#">Mark as unread</a></li>
                            <li><a href="#">Spam</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Delete</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="email-body">
            <p>Hello,</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
            <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna.</p>
            <p>Regards,
                <br> Justine Myranda</p>
        </div>
        <div class="email-attachments">
            <div class="title">Attachments <span>(2 files, 16,24 KB)</span></div>
            <ul>
                <li><a href="#"><span class="icon mdi mdi-attachment-alt"></span> new-release.zip <span>(5.12 KB)</span></a></li>
                <li><a href="#"><span class="icon mdi mdi-attachment-alt"></span> guidelines.pdf <span>(11.3 MB)</span></a></li>
            </ul>
        </div>
    </div>
</div>
