<div class="ht-100 pos-relative">
    <div class="flex-abs-wrapper">
        <div class="flex flex-row ht-100">
            <div class="flex-0 flex-aside">
                <div class="be-scroller">
                    <div class="aside-content">
                        <div class="content" style="padding:20px 22px;">
                            <div class="aside-header">
                                <button data-target=".aside-nav" data-toggle="collapse" type="button" class="navbar-toggle"><span class="icon mdi mdi-caret-down"></span></button><span class="title">Notitication Service</span>
                                <p class="description">Conversation with parents.</p>
                            </div>
                        </div>
                        <div class="aside-nav collapse">
                            <ul class="nav">
                                <li class="active"><a href="" ui-sref="teacher.email"><span class="label label-primary">8</span><i class="icon mdi mdi-inbox"></i> Inbox</a></li>
                                <li ><a href="" ui-sref="teacher.sms"><span class="label label-primary">18</span><i class="icon mdi mdi-inbox"></i> SMS</a></li>
                                <div class="aside-compose"><a class="btn btn-lg btn-primary btn-block" data-toggle="modal" data-target="#composeEmail">Compose Message</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1">
                <div class="pos-relative overflow-y-hidden ht-100" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                    <div class="email-inbox-header">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="email-title"><span class="icon mdi mdi-inbox"></span> Message <span class="new-messages">(2 new messages)</span> </div>
                            </div>
                            <div class="col-md-6">
                                <div class="email-search">
                                    <div class="input-group input-search input-group-sm">
                                        <input type="text" placeholder="Search mail..." class="form-control"><span class="input-group-btn">
                                  <button type="button" class="btn btn-default"><i class="icon mdi mdi-search"></i></button></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="email-filters">
                        <div class="email-filters-left">
                            <div class="be-checkbox be-select-all">
                                <input id="check" type="checkbox">
                                <label for="check"></label>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">With selected <span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a >Mark as read</a></li>
                                    <li><a >Mark as unread</a></li>
                                    <li><a >Spam</a></li>
                                    <li class="divider"></li>
                                    <li><a >Delete</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Archive</button>
                                <button type="button" class="btn btn-default">Span</button>
                                <button type="button" class="btn btn-default">Delete</button>
                            </div>
                            <div class="btn-group">
                                <button data-toggle="dropdown" type="button" class="btn btn-default dropdown-toggle">Order by <span class="caret"></span></button>
                                <ul role="menu" class="dropdown-menu dropdown-menu-right">
                                    <li><a >Date</a></li>
                                    <li><a >From</a></li>
                                    <li><a >Subject</a></li>
                                    <li class="divider"></li>
                                    <li><a >Size</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="email-filters-right"><span class="email-pagination-indicator">1-50 of 253</span>
                            <div class="btn-group email-pagination-nav">
                                <button type="button" class="btn btn-default"><i class="mdi mdi-chevron-left"></i></button>
                                <button type="button" class="btn btn-default"><i class="mdi mdi-chevron-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="email-list">
                        <div class="email-list-item email-list-item--unread">
                            <div class="email-list-actions">
                                <div class="be-checkbox">
                                    <input id="check1" type="checkbox">
                                    <label for="check1"></label>
                                </div><a  class="favorite active"><span class="mdi mdi-star"></span></a>
                            </div>
                            <div class="email-list-detail"><span class="date pull-right"><i class="icon mdi mdi-attachment-alt"></i> 28 Jul</span><span class="from"><a href="" ui-sref='teacher.emaildetail'>Penelope Thornton</a></span>
                                <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                            </div>
                        </div>
                        <div class="email-list-item email-list-item--unread">
                            <div class="email-list-actions">
                                <div class="be-checkbox">
                                    <input id="check2" type="checkbox">
                                    <label for="check2"></label>
                                </div><a  class="favorite"><span class="mdi mdi-star"></span></a>
                            </div>
                            <div class="email-list-detail"><span class="date pull-right"></span><span class="date pull-right"><i class="icon mdi mdi-attachment-alt"></i> 13 Jul</span><span class="from">Benji Harper</span>
                                <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                            </div>
                        </div>
                        <div class="email-list-item">
                            <div class="email-list-actions">
                                <div class="be-checkbox">
                                    <input id="check3" type="checkbox">
                                    <label for="check3"></label>
                                </div><a  class="favorite"><span class="mdi mdi-star"></span></a>
                            </div>
                            <div class="email-list-detail"><span class="date pull-right">23 Jun</span><span class="from">Justine Myranda</span>
                                <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                            </div>
                        </div>
                        <div class="email-list-item">
                            <div class="email-list-actions">
                                <div class="be-checkbox">
                                    <input id="check4" type="checkbox">
                                    <label for="check4"></label>
                                </div><a  class="favorite"><span class="mdi mdi-star"></span></a>
                            </div>
                            <div class="email-list-detail"><span class="date pull-right">17 May</span><span class="from">John Doe</span>
                                <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                            </div>
                        </div>
                        <div class="email-list-item">
                            <div class="email-list-actions">
                                <div class="be-checkbox">
                                    <input id="check5" type="checkbox">
                                    <label for="check5"></label>
                                </div><a  class="favorite"><span class="mdi mdi-star"></span></a>
                            </div>
                            <div class="email-list-detail"><span class="date pull-right">16 May</span><span class="from">Sherwood Clifford</span>
                                <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                            </div>
                        </div>
                        <div class="email-list-item">
                            <div class="email-list-actions">
                                <div class="be-checkbox">
                                    <input id="check6" type="checkbox">
                                    <label for="check6"></label>
                                </div><a  class="favorite"><span class="mdi mdi-star"></span></a>
                            </div>
                            <div class="email-list-detail"><span class="date pull-right">12 May</span><span class="from">Kristopher Donny</span>
                                <p class="msg">Urgent - You forgot your keys in the class room, please come imediatly!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
