<style type="text/css">
.node {
    cursor: pointer;
}

.overlay {
    background-color: #f9f9f9;
    border-radius: 5px;
}

.node circle {
    fill: lightsteelblue;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 10px;
    font-family: sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.templink {
    fill: none;
    stroke: lightsteelblue;
    stroke-width: 3px;
}

.ghostCircle.show {
    display: block;
}

.ghostCircle,
.activeDrag .ghostCircle {
    display: none;
}

.d3-context-menu {
    position: absolute;
    display: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    min-width: 150px;
    border: 1px solid #d4d4d4;
    z-index: 1200;
}

.d3-context-menu ul {
    list-style-type: none;
    margin: 4px 0px;
    padding: 0px;
    cursor: default;
}

.d3-context-menu ul li {
    padding: 4px 16px;
}

.d3-context-menu ul li:hover {
    background-color: #4677f8;
    color: #fefefe;
}
</style>
<div class="main-content h1-100">
    <div class="main-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="widget widget-fullwidth be-loading">
                    <div class="widget-head">
                        <div id="tree-container" ondrop="dropped(event)" ondragover="event.preventDefault();"></div>
                        <br>
                        <input type="text" id="inputSr" placeholder="Enter Lesson Sr">
                        <input type="name" id="inputName" placeholder="Enter Lesson Name">
                        <button id="selectSr" onclick="viewTree();updateLessonTable();">Select/Add Lesson</button>
                        <br>
                        <input type="name" id="inputParentSr" placeholder="Enter Parent Sr">
                        <button id="removeParent" onclick="removeLesson();">Remove Parent</button>conte
                        <br>
                        <table id="lessons" style="border: 1px solid black;display: none;"></table>
                        <p id='demo'></p>
                    </div>
                    <div class="be-spinner">
                        <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var totalNodes, maxLabelLength, panSpeed, duration, root, viewerWidth, viewerHeight, diagonal, zoomListener, baseSvg, svgGroup, tree, treeData, addSr;
var parentColor = "lightsteelblue";
var noParentColor = "#eee";

var inputSr, inputName;

var kmap = [{
    "sr": "1",
    "name": "lesson 1",
    "parent": [{
        "sr": "2",
        "weight": 0.4
    }, {
        "sr": "3",
        "weight": 0.3
    }, {
        "sr": "4",
        "weight": 0.2
    }]
}, {
    "sr": "2",
    "name": "lesson 2",
    "parent": [{
        "sr": "5",
        "weight": 0.5
    }, {
        "sr": "6",
        "weight": 0.5
    }]
}, {
    "sr": "3",
    "name": "lesson 3",
    "parent": [{
        "sr": "7",
        "weight": 1
    }]
}, {
    "sr": "4",
    "name": "lesson 4",
    "parent": []
}, {
    "sr": "5",
    "name": "lesson 5",
    "parent": []
}, {
    "sr": "6",
    "name": "lesson 6",
    "parent": []
}, {
    "sr": "7",
    "name": "lesson 7",
    "parent": []
}, {
    "sr": "8",
    "name": "lesson 8",
    "parent": []
}, {
    "sr": "9",
    "name": "lesson 9",
    "parent": []
}, {
    "sr": "10",
    "name": "lesson 10",
    "parent": []
}, {
    "sr": "11",
    "name": "lesson 11",
    "parent": []
}];

updateLessonTable();
document.getElementById("inputSr").value = "1";
viewTree();

function updateLessonTable() {
    var table = document.getElementById("lessons");
    for (var i = 0; i < kmap.length; i++) {
        var cell = table.insertRow(0).insertCell(0);
        cell.innerHTML = String(kmap[i]["sr"]);
        cell.className = "lessonDrag";
        cell.setAttribute('lessonID', String(kmap[i]["sr"]));
        cell.setAttribute('draggable', "true");
        cell.setAttribute('ondragstart', "event.dataTransfer.setData('droppedLesson', event.target.getAttribute('lessonID'));");
    }
}

function dropped(event) {
    event.preventDefault();
    var data = event.dataTransfer.getData("droppedLesson");
    getWeight(data);
}


function viewTree() {
    inputSr = document.getElementById("inputSr").value;
    inputName = document.getElementById("inputName").value;
    if (!inputSr) {
        alert('enter sr');
        return;
    }
    if (!findLesson(inputSr)) {
        if (!inputName) {
            alert('enter name');
            return;
        }
        kmap.push({
            "sr": inputSr,
            "name": inputName,
            "parent": []
        });
    }
    drawTree(genTree(inputSr).tree);
}

function addLesson(sr, weight) {
    // var sr = document.getElementById("inputParentSr").value;
    if (!sr) {
        alert('enter inputParentSr');
        return;
    }
    if (!inputSr) {
        alert('select lesson first');
    }
    if (!findLesson(sr)) {
        alert('lesson with sr ' + String(sr) + ' doesnt exist in kmap');
        return;
    }
    if (sr == inputSr) {
        alert('cannot add lesson as its prereq');
        return;
    }
    for (var i = 0; i < kmap.length; i++) {
        if (kmap[i]["sr"] == inputSr) {
            for (var j = 0; j < kmap[i]["parent"].length; j++) {
                if (kmap[i]["parent"][j]["sr"] == sr) {
                    alert('sr ' + sr + ' is already a prereq of sr ' + inputSr);
                    return;
                }
            }
            kmap[i]["parent"].push({
                "sr": sr,
                "weight": weight
            });
            root = genTree(inputSr).tree;
            update(root);
            return;
        }
    }
}

function removeLesson(sr) {
    // var sr = document.getElementById("inputParentSr").value;
    if (!sr) {
        alert('enter inputParentSr');
        return;
    }
    if (!inputSr) {
        alert('select lesson first');
    }
    if (sr == inputSr) {
        alert('cannot delete a lesson from this vis');
        return;
    }
    for (var i = 0; i < kmap.length; i++) {
        if (kmap[i]["sr"] == inputSr) {
            for (var j = 0; j < kmap[i]["parent"].length; j++) {
                if (kmap[i]["parent"][j]["sr"] == sr) {
                    kmap[i]["parent"].splice(j, 1);
                    root = genTree(inputSr).tree;
                    update(root);
                    return;
                }
            }
        }
    }
    alert('cant remove parent ' + String(sr) + '.\n' + String(sr) + ' not a parent of ' + String(inputSr));
    return;
}



function genTree(nodeSr) {

    var node = {};
    node.sr = nodeSr;
    node.parent = null;

    var nodeData = findLesson(node.sr);
    if (nodeData == undefined) {
        return null;
    }
    node.name = nodeData.name;

    var gatheredNodeNumbers = [(node.sr)];
    var gatheredNodeDict = {};
    gatheredNodeDict[(node.sr)] = {
        "level": 0
    };
    gatheredNodeDict[(node.sr)]["name"] = node.name;

    node.color = "blue";
    gatheredNodeDict[(node.sr)]["color"] = node.color;

    var getChildrenOutput = getChildren(nodeData, gatheredNodeNumbers, gatheredNodeDict);

    node.children = getChildrenOutput.children;
    gatheredNodeNumbers = getChildrenOutput.gatheredNodeNumbers;
    gatheredNodeDict = getChildrenOutput.gatheredNodeDict;

    return {
        "tree": node,
        "playlist": gatheredNodeDict
    };
}

function findLesson(sr) {
    for (var i = 0; i < kmap.length; i++) {
        if (kmap[i]["sr"] == sr) {
            return kmap[i];
        }
    }
}

function getChildren(nodeData, gatheredNodeNumbers, gatheredNodeDict) {

    var children = [];
    if (nodeData.parent != undefined) {
        for (var j = 0; j < nodeData.parent.length; j++) {
            var child = {};
            child.sr = nodeData.parent[j]["sr"];
            child.parent = nodeData.sr;
            var childData = findLesson(child.sr);

            if (childData == undefined) {
                continue;
            }
            child.name = childData.name;
            child.weight = nodeData.parent[j]["weight"];

            // if (gatheredNodeNumbers.indexOf(child.sr) != -1) {
            //     continue;
            // }
            gatheredNodeNumbers.push((child.sr));
            gatheredNodeDict[(child.sr)] = {
                "level": gatheredNodeDict[String((child.parent))]["level"] + 1
            };
            gatheredNodeDict[(child.sr)]["name"] = child.name;

            child.color = "blue";
            gatheredNodeDict[(child.sr)]["color"] = child.color;

            var getChildrenOutput = getChildren(childData, gatheredNodeNumbers, gatheredNodeDict);

            child.children = getChildrenOutput.children;
            gatheredNodeNumbers = getChildrenOutput.gatheredNodeNumbers;
            gatheredNodeDict = getChildrenOutput.gatheredNodeDict;

            children.push(child);
        }
    }
    return {
        "children": children,
        "gatheredNodeNumbers": gatheredNodeNumbers,
        "gatheredNodeDict": gatheredNodeDict
    }
}

function getWeight(sr) {
    addSr = sr;
    baseSvg.append("foreignObject")
        .attr("width", 80)
        .attr("height", 37)
        .attr("id", "weightPopup")
        .attr('x', viewerWidth / 2)
        .attr('y', viewerHeight / 2)
        .html("<form onsubmit='return setWeight()' action=''><input type='text' autocomplete='off' id='weightInput' autofocus><input type='submit' style='display: none'></form>")
        .on("mousedown", function() {
            d3.event.stopPropagation();
        });
}

function drawTree(treeData) {

    // Calculate total nodes, max label length
    totalNodes = 0;
    maxLabelLength = 10;
    // variables for drag/drop
    // panning variables
    panSpeed = 200;
    // Misc. variables
    duration = 750;
    root;

    // size of the diagram
    viewerWidth = 0.67 * window.innerWidth;
    viewerHeight = 0.67 * window.innerHeight;


    // define a d3 diagonal projection for use by the node paths later on.
    diagonal = d3.svg.diagonal()
        .projection(function(d) {
            return [d.y, d.x];
        });


    // define the zoomListener which calls the zoom function on the "zoom" event constrained within the scaleExtents
    zoomListener = d3.behavior.zoom().scaleExtent([0.1, 3]).on("zoom", zoom);

    // define the baseSvg, attaching a class for styling and the zoomListener
    d3.select("#tree-container").selectAll("*").remove();
    baseSvg = d3.select("#tree-container").append("svg")
        .attr("width", "auto")
        .attr("height", viewerHeight)
        .attr("class", "overlay")
        .call(zoomListener);

    // Append a group which holds all nodes and which the zoom Listener can act upon.
    svgGroup = baseSvg.append("g");

    tree = d3.layout.tree()
        .size([viewerHeight, viewerWidth]);


    // Call visit function to establish maxLabelLength
    visit(treeData, function(d) {
        totalNodes++;
        maxLabelLength = Math.max(d.sr.length, maxLabelLength);

    }, function(d) {
        return d.children && d.children.length > 0 ? d.children : null;
    });

    // Sort the tree initially incase the JSON isn't in a sorted order.
    sortTree();

    // Define the root
    root = treeData;
    root.x0 = viewerHeight / 2;
    root.y0 = 0;

    // Layout the tree initially and center on the root node.
    update(root);
    centerNode(root);

}

function setWeight() {
    var weight = document.getElementById('weightInput').value;
    if (document.getElementById("weightPopup")) {
        document.getElementById("weightPopup").remove();
    }
    if (weight) {
        addLesson(addSr, weight);
    }
    return false;
}



// A recursive helper function for performing some setup by walking through all nodes
function visit(parent, visitFn, childrenFn) {
    if (!parent) return;

    visitFn(parent);

    var children = childrenFn(parent);
    if (children) {
        var count = children.length;
        for (var i = 0; i < count; i++) {
            visit(children[i], visitFn, childrenFn);
        }
    }
}

// sort the tree according to the node names
function sortTree() {
    tree.sort(function(a, b) {
        return b.name.toLowerCase() < a.name.toLowerCase() ? 1 : -1;
    });
}

// TODO: Pan function, can be better implemented.

function pan(domNode, direction) {
    var speed = panSpeed;
    if (panTimer) {
        clearTimeout(panTimer);
        translateCoords = d3.transform(svgGroup.attr("transform"));
        if (direction == 'left' || direction == 'right') {
            translateX = direction == 'left' ? translateCoords.translate[0] + speed : translateCoords.translate[0] - speed;
            translateY = translateCoords.translate[1];
        } else if (direction == 'up' || direction == 'down') {
            translateX = translateCoords.translate[0];
            translateY = direction == 'up' ? translateCoords.translate[1] + speed : translateCoords.translate[1] - speed;
        }
        scaleX = translateCoords.scale[0];
        scaleY = translateCoords.scale[1];
        scale = zoomListener.scale();
        svgGroup.transition().attr("transform", "translate(" + translateX + "," + translateY + ")scale(" + scale + ")");
        d3.select(domNode).select('g.node').attr("transform", "translate(" + translateX + "," + translateY + ")");
        zoomListener.scale(zoomListener.scale());
        zoomListener.translate([translateX, translateY]);
        panTimer = setTimeout(function() {
            pan(domNode, speed, direction);
        }, 50);
    }
}

// Define the zoom function for the zoomable tree

function zoom() {
    svgGroup.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}


// Function to center node when clicked/dropped so node doesn't get lost when collapsing/moving with large amount of children.
function centerNode(source) {
    scale = zoomListener.scale();
    x = -source.y0;
    y = -source.x0;
    x = x * scale + viewerWidth / 2;
    y = y * scale + viewerHeight / 2;
    d3.select('g').transition()
        .duration(duration)
        .attr("transform", "translate(" + x + "," + y + ")scale(" + scale + ")");
    zoomListener.scale(scale);
    zoomListener.translate([x, y]);
}

// Toggle children function

function toggleChildren(d) {
    if (d.children) {
        d._children = d.children;
        d.children = null;
    } else if (d._children) {
        d.children = d._children;
        d._children = null;
    }
    return d;
}

// Toggle children on click.

function click(d) {
    if (d3.event.defaultPrevented) return; // click suppressed
    d = toggleChildren(d);
    update(d);
    centerNode(d);
}

function update(source) {
    // Compute the new height, function counts total children of root node and sets tree height accordingly.
    // This prevents the layout looking squashed when new nodes are made visible or looking sparse when nodes are removed
    // This makes the layout more consistent.
    var levelWidth = [1];
    var childCount = function(level, n) {

        if (n.children && n.children.length > 0) {
            if (levelWidth.length <= level + 1) levelWidth.push(0);

            levelWidth[level + 1] += n.children.length;
            n.children.forEach(function(d) {
                childCount(level + 1, d);
            });
        }
    };
    childCount(0, root);
    var newHeight = d3.max(levelWidth) * 100; // 25 pixels per line  
    tree = tree.size([newHeight, viewerWidth]);

    // Compute the new tree layout.
    var nodes = tree.nodes(root).reverse(),
        links = tree.links(nodes);

    // Set widths between levels based on maxLabelLength.
    nodes.forEach(function(d) {
        d.y = (d.depth * (maxLabelLength * 10)); //maxLabelLength * 10px
        // alternatively to keep a fixed scale one can set a fixed depth per level
        // Normalize for fixed-depth by commenting out below line
        // d.y = (d.depth * 500); //500px per level.
    });

    // Update the nodes…
    var node = svgGroup.selectAll("g.node")
        .data(nodes, function(d) {
            return d.id || (d.id = String(d.sr) + "_" + String(d.parent ? d.parent.sr : null));
        });

    // Enter any new nodes at the parent's previous position.
    var nodeEnter = node.enter().append("g")
        // .call(dragListener) // ayush -> editing disabled
        .attr("class", "node")
        .attr("transform", function(d) {
            return "translate(" + source.y0 + "," + source.x0 + ")";
        })
        .on('click', click);

    nodeEnter.append("circle")
        .attr('class', 'nodeCircle')
        .attr("r", 0)
        .style("fill", function(d) {
            return d._children ? parentColor : noParentColor;
        });

    nodeEnter.append("text")
        .attr("x", function(d) {
            return d.children || d._children ? -20 : 20;
        })
        .attr("dy", ".35em")
        .attr('class', 'nodeText')
        .attr("text-anchor", function(d) {
            return d.children || d._children ? "end" : "start";
        })
        .text(function(d) {
            return d.sr;
        })
        .style("fill-opacity", 0);

    // phantom node to give us mouseover in a radius around it
    nodeEnter.append("circle")
        .attr('class', 'ghostCircle')
        .attr("r", 30)
        .attr("opacity", 0.2) // change this to zero to hide the target area
        .style("fill", parentColor)
        .attr('pointer-events', 'mouseover');

    // Update the text to reflect whether node has children or not.
    node.select('text')
        .attr("x", function(d) {
            return d.children || d._children ? -20 : 20;
        })
        .attr("text-anchor", function(d) {
            return d.children || d._children ? "end" : "start";
        })
        .style("font-size", "20px")
        .text(function(d) {
            return d.sr;
        });

    // Change the circle fill depending on whether it has children and is collapsed
    node.select("circle.nodeCircle")
        .attr("r", 10)
        .style("fill", function(d) {
            return d._children ? parentColor : noParentColor;
        });

    // Transition nodes to their new position.
    var nodeUpdate = node.transition()
        .duration(duration)
        .attr("transform", function(d) {
            return "translate(" + d.y + "," + d.x + ")";
        });

    // Fade the text in
    nodeUpdate.select("text")
        .style("fill-opacity", 1);

    // Transition exiting nodes to the parent's new position.
    var nodeExit = node.exit().transition()
        .duration(duration)
        .attr("transform", function(d) {
            return "translate(" + source.y + "," + source.x + ")";
        })
        .remove();

    nodeExit.select("circle")
        .attr("r", 0);

    nodeExit.select("text")
        .style("fill-opacity", 0);


    var menu = [{
        title: 'Delete node',
        action: function(elm, d, i) {
            removeLesson(d.sr);
        }
    }]

    node.on('contextmenu', d3.contextMenu(menu));



    // Update the links…
    var link = svgGroup.selectAll("path.link")
        .data(links, function(d) {
            return d.target.id;
        });

    // Enter any new links at the parent's previous position.
    var linkEnter = link.enter().insert("path", "g")
        .attr("class", "link")
        .attr("d", function(d) {
            var o = {
                x: source.x0,
                y: source.y0
            };
            return diagonal({
                source: o,
                target: o
            });
        });


    // Transition links to their new position.
    var linkUpdate = link.transition()
        .duration(duration)
        .attr("d", diagonal);

    // Transition exiting nodes to the parent's new position.
    var linkExit = link.exit().transition()
        .duration(duration)
        .attr("d", function(d) {
            var o = {
                x: source.x,
                y: source.y
            };
            return diagonal({
                source: o,
                target: o
            });
        })
        .remove();

    var linktext = svgGroup.selectAll("g.linkname")
        .data(links, function(d) {
            return d.target.id;
        });

    linktext.enter()
        .insert("g")
        .attr("class", "linkname")
        .append("text")
        .attr("dy", ".35em")
        .attr("text-anchor", "middle")
        .style("color", "grey")
        .style("font-size", "15px")
        .text(function(d) {
            return d.target.weight;
        });

    // Transition link text to their new positions

    linktext.transition()
        .duration(duration)
        .attr("transform", function(d) {
            return "translate(" + ((d.source.y + d.target.y) / 2) + "," + ((d.source.x + d.target.x) / 2) + ")";
        })

    //Transition exiting link text to the parent's new position.
    linktext.exit().transition()
        .remove();


    nodes.forEach(function(d) {
        d.x0 = d.x;
        d.y0 = d.y;
    });
}
</script>
