<div class="main-content h1-100" style="overflow: auto;">
    <div class="container-fluid">
        <div class="row" style="margin-top:20px">
            <div class="col-md-8">
                <div class="widget widget-fullwidth be-loading">
                    <div class="widget-head">
                        <div class="header" ng-show="ctrl.selectedLesson">
                            <!-- <p ng-bind="ctrl.selectedLesson.name"></p> -->
                            <ol class="breadcrumb page-head-nav">
                                <li><a href="" class="text-muted" ng-bind="ctrl.lesson_unit"></a></li>
                                <li><a href="" class="text-muted" ng-bind="ctrl.lesson_topic"></a></li>
                                <li class="active"><strong class="page-header"><a href="" ng-bind="ctrl.selectedLesson.name"></a></strong></li>
                              </ol>
                        </div>
                        <blockquote ng-show="!ctrl.selectedLesson">
                            <p>Please select lesson</p>                            
                        </blockquote>
                        <div id="tree-container" style="margin-top:10px;"></div>
                    </div>
                    <div class="be-spinner">
                        <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="30" class="circle"></circle>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <p>Search Lesson</p>
                        <input ng-model="ctrl.lessonQuery" class="form-control input-sm" type="text" placeholder="Enter lesson name" />
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <a href="" class="list-group-item" ng-repeat="lesson in ctrl.lessons | filter:ctrl.lessonQuery | limitTo: 5" ng-click="ctrl.viewTree(lesson)">
                                <span class="text-primary mdi mdi-graphic-eq icon"></span> <small ng-bind="lesson.name"></small>
                            </a>
                        </div>
                        <div class="row" ng-if="ctrl.selectedLesson">
                            <div class="col-lg-12">
                                <h4>Select Student</h4>
                                <select multiple="" class="form-control" ng-model="ctrl.selectedStudent" style="height:150px;" ng-change="ctrl.viewUserTree()">
                                    <option ng-repeat="(student, data) in ctrl.studentScores" ng-bind="student" ng-value="student"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                        <div class="row">
                            <div class="col-lg-12 ng-scope" ng-if="ctrl.playlist">
                                <div class="panel panel-default list">
                                 <div class="panel-heading ng-binding">Playlist</div>
                                 <div class="panel-body list-cards ng-pristine ng-untouched ng-valid ng-isolate-scope ui-sortable ng-not-empty" ng-model="ctrl.cards">
                                     <!-- ngRepeat: card in ctrl.cards -->
                                     <div class="panel panel-border list-card ng-scope ui-sortable-handle" ng-repeat="card in ctrl.playlist" ui-sref="teacher.lessondetail({'lessonId': card.sr})">
                                         <div class="panel-label-container">
                                             <span ng-if="card.result=='fail'" class="card-label-red card-label"> </span>
                                             <span ng-if="card.result=='undefined'" class="card-label-red card-label"> </span>
                                             <span ng-if="card.result=='pass'" class="card-label-success card-label"> </span>
                                             <div class="clearfix"></div>
                                         </div>
                                     <div class="panel-heading ng-binding" ng-bind="card.name"></div>
                                         <div class="panel-footer text-right">
                                             <!-- <a href="#" type="button" class="btn btn-space btn-default btn-dotted"><i class="mdi mdi-plus"></i></a> -->
                                             <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-primary mdi mdi-book"></span> <strong ng-bind="card.resource_data.lesson_meta.assessments"></strong></a>
                                             <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-success mdi mdi-collection-video"></span> <strong ng-bind="card.resource_data.lesson_meta.videos"></strong></a>
                                             <a href="#" type="button" class="btn btn-space btn-disabled btn-default"><span class="text-danger mdi mdi-layers"></span> <strong ng-bind="card.resource_data.lesson_meta.activities"></strong></a>
                                         </div>
                                     </div>
                                </div>
                                <!-- <a class="panel-add">Add Card...</a> -->
                            </div>
                        </div>  

                </div>

            </div>

        </div>
    </div>
</div>
