<div class="be-left-sidebar flex-abs-wrapper">
    <div class="left-sidebar-wrapper flex flex-column">
        <a href="" class="left-sidebar-toggle">Dashboard</a>
        <div class="left-sidebar-spacer flex-1 overflow-y-hidden">
            <div class="left-sidebar-scroll" perfect-scrollbar suppress-scroll-x="true"  wheel-propagation="true">
                <div class="left-sidebar-content">
                    <ul class="sidebar-elements">
                        <li ng-class="{ active: isActive('/teacher/dashboard')}">
                        <a href="" ui-sref="teacher.dashboard"><i class="icon mdi mdi-home"></i><span>Dashboard</span></a></li>
                        <li ng-class="{ 'parent open' : kmapOpenState, 'parent': !kmapOpenState }" ng-init="kmapOpenState=false"><a href="" ng-click="kmapOpenState = !kmapOpenState"><i class="icon mdi mdi-chart-donut"></i><span>Knowledge Maps</span></a>
                            <ul class="sub-menu">
                                <li ng-class="{ active: isActive('/teacher/knowledgemap1')}"><a ui-sref="teacher.knowledgemap1" >Grade 1</a></li>
                            </ul>
                        </li>
                        </li>
                        <li class="divider">KUDOS / NUDGES</li>
                        <li ng-class="{ 'active' : isActive('/teacher/bragtags/activity')}"><a href="" ui-sref='teacher.bragtagsActivity.activity'><i class="icon mdi mdi-layers"></i><span>Activity</span></a>
                        </li>
                        <li class="divider">Classes</li>
                        <li ng-class="{ 'active' : isActive('/teacher/class1')}"><a href="" ui-sref="teacher.class1"><i class="icon mdi mdi-view-web"></i><span>Class 5A</span></a></li>
                        <li class="divider">Subjects</li>
                        <li ng-class="{ 'active' : isActive('/teacher/course/english')}"><a href="" ui-sref="teacher.course1"><i class="icon mdi mdi-library"></i><span>English</span></a></li>
                        <li ng-class="{ 'active' : isActive('/teacher/course/math')}"><a href="" ui-sref="teacher.course2"><i class="icon mdi mdi-library"></i><span>Math</span></a></li>
                        <li class="divider">Parent</li>
                        <li ng-class="{ 'active' : isActive('/teacher/emails') || isActive('/teacher/emaildetails') || isActive('/teacher/sms') || isActive('/teacher/smsdetail')}"><a href="" ui-sref="teacher.sms"><i class="icon mdi mdi-view-web"></i><span>Messages</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
