<div class="ht-100 pos-relative" style="background-color:white;">
    <div class="flex-abs-wrapper">
        <div class="flex flex-row ht-100">
            <div class="flex-0 flex-aside overflow-y-hidden pos-relative" perfect-scrollbar suppress-scroll-x="true" wheel-propagation="true" ng-hide="ctrl.toggleMenu">
                <div class="be-scroller">
                    <div class="aside-content">
                        <div class="content">
                            <div class="aside-header">
                                <span class="title f-s-18" ng-bind="ctrl.lesson.node.title"></span>
                                <p class="description f-s-13" style="color:white;" ng-bind="ctrl.lesson.node.description"></p>
                            </div>
                        </div>
                        <p style="padding: 13px 22px;display:none;">
                            We’re committed to creating a work environment that promotes employee health and wellness. This course is the first step in raising awareness and rollout of our new workplace health program, which includes promoting activities or policies that encourage and support healthy behaviors in the workplace.
                        </p>
                        <div class="lesson-nav">
                            <ul class="nav">
                                <li ng-repeat="child in ctrl.lesson.objects">
                                    <a class="pos-relative f-s-13" ng-class="{'active':ctrl.activeIndex==$index}" ng-click="ctrl.setLessonActive($index)">
                                        <div class="lesson-icon icon mdi" ng-class="{'resource':'mdi-collection-video', 'external resource link':'mdi-link', 'assessment':'mdi-book', 'vocabulary':'mdi-puzzle-piece'}[child.node.content_type_name]">
                                            
                                        </div>
                                        <div ng-bind="child.node.title" class="lesson-title d-ib"></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex-1 overflow-y-hidden pos-relative" perfect-scrollbar suppress-scroll-x="true" wheel-propagation="true">
                <div class="container-fluid pos-relative ht-100">
                    <div class="row" ng-if="ctrl.activeIndex != 0" ng-click="ctrl.setLessonActive(ctrl.activeIndex-1)">
                        <div class="col-xs-12 lesson-prev-row">
                            <div class="text-center"><span class="glyphicon glyphicon-chevron-up"></span></div>
                            <div class="text-center">Previous Lesson</div>
                        </div>
                    </div>
                    <div class="row" ng-repeat="child in ctrl.lesson.objects" ng-if="$index==ctrl.activeIndex" style="padding-bottom: 80px;">
                        <div class="col-xs-12">
                            <button class="button--menu" ng-click="ctrl.toggleMenu = !ctrl.toggleMenu">
                                <i class="button__icon icon-menu"></i>
                            </button>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 lesson-header">
                            <div class="lesson-header-pager f-s-11" ng-bind="'Lesson '+($index + 1)+' of '+ctrl.lesson.objects.length"></div>
                            <div class="lesson-header-title f-s-18" ng-bind="::child.node.title"></div>
                            <div class="lesson-header-author f-s-13">
                                <div class="author-bubble">US</div> curated on  
                                <strong ng-bind="child.node.created | date"></strong>
                            </div>
                            <div class="lesson-header-detail f-s-13" ng-bind="::lesson.description" ng-if="lesson.description"></div>
                        </div>
                        <!--  TODO  : separate template and include will do the trick -->
                        <div class="col-xs-8 col-xs-offset-2" ng-if="child.node.content_type_name == 'assessment'" ng-controller="studentQuizController as quizCtrl">
                            <div class="question-box" ng-repeat="question in child.objects" ng-class="{'list':'question-list' ,'grid':'question-grid'}[quizCtrl.widgetParser.getLayout(question, $index, child)]">
                                <div class="question-pager" ng-bind="::'Question '+($index+1)"></div>
                                <div class="question-title" ng-bind-html="::quizCtrl.widgetParser.parseToDisplay(question.node.title, $index, child)"></div>
                                <div class="question-options">
                                    <span ng-hide="true" ng-bind="question | json"></span>
                                    <ul class="list-unstyled question-options" ng-if="question.node.type.content.is_multiple==false">
                                        <li ng-repeat="option in question.node.type.content.options" class="pos-relative">
                                            <span ng-hide="true" ng-bind="option | json"></span>
                                            <input type="radio" id="{{'option_q'+$parent.$index+'_'+$index}}" name="{{'option_q'+$parent.$index}}" value="{{option.key}}">
                                            <label for="{{'option_q'+$parent.$index+'_'+$index}}" name="{{'option_q'+$parent.$index}}" ng-bind-html="quizCtrl.widgetParser.parseToDisplay(option.option, $parent.$index, child)"></label>
                                            <div class="check"></div>
                                        </li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="quiz-card-button active">Submit</button>
                            </div>
                        </div>
                        
                        <!-- TODO : PATCH WORK  -->
                        <div class="col-xs-12" ng-if="child.node.content_type_name == 'resource'">
                            <video style="width:100%;margin:auto;" controls>
                              <source ng-src="{{ctrl.getVideoUrl(child.node.type.path) | trusted}}" type="video/mp4">
                            </video>
                        </div>

                        <div class="col-xs-8 col-xs-offset-2" ng-if="child.node.content_type_name == 'vocabulary'">
                            <h3>Coming Soon</h3>
                        </div>

                        <div class="col-xs-12" ng-if="child.node.content_type_name == 'external resource link'">
                             <iframe width="100%" height="480" ng-src="{{child.node.type.path | trusted}}" ng-if="child.node.type.path" frameborder="0" allowfullscreen></iframe>
                            <iframe width="100%" height="480" ng-src="{{child.node.type.link | trusted}}" ng-if="child.node.tag!='external-assessment'" frameborder="0" allowfullscreen></iframe>
                            <iframe width="100%" height="500px" ng-src="{{child.node.type.link | trusted}}"  ng-if="child.node.tag=='external-assessment'" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <div class="col-xs-8 col-xs-offset-2 ht-100" ng-if="lesson.type == 'pdf'">
                            <hr style="margin-bottom:60px;">
                            <div class="question-box" ng-repeat="question in lesson.questions">
                                <div class="question-pager" ng-bind="'Question '+($index+1)"></div>
                                <div class="question-title" ng-bind="question.title"></div>
                                <div class="question-options">
                                    <ul class="list-unstyled question-options" ng-if="question.type=='SCQ'">
                                        <li ng-repeat="option in question.options" class="pos-relative">
                                            <input type="radio" id="{{'option_q'+question.id+'_'+$index}}" name="{{'option__'+question.id}}">
                                            <label for="{{'option_q'+question.id+'_'+$index}}" name="{{'option__'+question.id}}" ng-bind="option"></label>
                                            <div class="check"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="quiz-card-button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="ctrl.activeIndex != (ctrl.lesson.objects.length - 1)" ng-click="ctrl.setLessonActive(ctrl.activeIndex+1)" style="position: absolute;bottom: 0;width:100%;">
                        <div class="col-xs-12 lesson-next-row">
                            <div class="text-center">Next Lesson</div>
                            <div class="text-center" ng-bind="ctrl.lesson.objects[$index+1].node.title"></div>
                            <div class="text-center"><span class="glyphicon glyphicon-chevron-down"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.aside-content .content {
    padding: 20px 22px;
    background-color: #4285f4;
    color: white;
    margin-bottom: 15px;
}

.aside-header .title {
    font-weight: bold !important;
}

.lesson-header .author-bubble {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    background-color: #4285f4;
    vertical-align: middle;
    text-align: center;
    line-height: 40px;
    font-weight: 600;
    color: white;
}

.lesson-header
{
    margin-bottom:25px;
}

.lesson-header::after {
    content: "";
    border-bottom: 5px solid #4285f4;
    width: 100px;
    height: 10px;
    display: block;
    padding-top: 25px;
}

.lesson-next-row,
.lesson-prev-row {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
}

.lesson-next-row div:first-child,
.lesson-prev-row div:first-child + div {
    color: rgba(49, 53, 55, .2);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
}

.lesson-next-row div,
.lesson-prev-row div {
    transition: color 0.1s ease-in;
}

.lesson-prev-row:hover div:first-child,
.lesson-next-row:hover div:first-child + div {
    color: #4285f4;
}

.lesson-next-row:hover div:last-child {
    color: black;
}

.lesson-next-row div:first-child + div {
    font-size: 14px;
    color: rgba(49, 53, 55, .6);
    font-weight: 600;
}

.lesson-header-pager,
.question-pager {
    margin-bottom: 1.2rem;
    line-height: 1.75;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.lesson-header-title {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 700 !important;
    line-height: 1.2;
    color: #2d363a;
}

.lesson-header-detail {
    padding: 30px 0px;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2;
}

.button--menu {
    position: relative;
    color: #313537;
    height: 4rem;
    width: 4rem;
    padding: 1rem;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.6rem;
    text-transform: uppercase;
    -webkit-transition: color .3s;
    transition: color .3s;
    background-color: white;
    outline: 0;
    border: 0;
    box-shadow: 0;
}

.button--menu i,
.button--menu i:after,
.button--menu i:before {
    position: absolute;
    top: 50%;
    left: 1rem;
    display: block;
    height: .2rem;
    width: 1.5rem;
    background: #313537;
}

.button--menu i:after,
.button--menu i:before {
    content: "";
    position: absolute;
    top: -.4rem;
    left: 0;
    right: 0;
}

.button--menu i:after {
    top: auto;
    bottom: -.4rem;
}

.lesson-nav .nav li {
    margin-bottom: 10px;
}

.lesson-nav .nav li a {
    position: relative;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    -webkit-transition: color .3s;
    transition: color .3s;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 1.8rem 4.3rem;
    color: rgba(49, 53, 55, .25);
}

.lesson-nav .nav li a:hover,
.lesson-nav .nav li a.active {
    color: #313537;
    background: #f3f3f3;
}

.lesson-nav .nav li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: .5rem;
    background: rgba(49, 53, 55, .6);
    -webkit-transform: translate(-.5rem);
    -ms-transform: translate(-.5rem);
    transform: translate(-.5rem);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: background, -webkit-transform;
    transition-property: background, -webkit-transform;
    transition-property: transform, background;
    transition-property: transform, background, -webkit-transform;
}

.lesson-nav .nav li a.active:before {
    background-color: #4285f4 !important;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.lesson-nav .lesson-icon {
    position: absolute;
    left: 1em;
    font-size: 20px;
}

ul.question-options li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul.question-options li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.7rem;
    padding-left:65px;
    padding-top:10px;
    /*margin: 10px auto;*/
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

ul.question-options li:hover label {
    color: black;
}

ul.question-options li .check {
    display: block;
    position: absolute;
    border: 2px solid #AAAAAA;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 3px;
    left: 30px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

ul.question-options li:hover .check {
    border: 2px solid black;
}

ul.question-options li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 15px;
    width: 15px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 2px solid #4285f4;
}

input[type=radio]:checked ~ .check::before {
    background: #4285f4;
}

input[type=radio]:checked ~ label {
    color: #4285f4;
}

.question-title {
    font-size: 1.7rem;
    margin-bottom: 20px;
}

.question-box {
    margin-bottom: 60px;
}
.question-box.question-grid ul.question-options li
{
    width: 50%;
    float:left;
    margin-bottom: 20px;

}

.quiz-card-button.active
{
    background-color: #4285f4;
}

.quiz-card-button {
    cursor: pointer;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    min-width: 10rem;
    max-width: 17rem;
    height: 4rem;
    font-weight: 700;
    letter-spacing: .04em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    line-height: 3.4rem;
    text-overflow: ellipsis;
    color: #fff;
    background-color: silver;
    border: 2px solid transparent;
    -webkit-border-radius: 2rem;
    border-radius: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background .3s, color .3s, opacity .3s;
    transition: background .3s, color .3s, opacity .3s;
}
.content-image, ul.question-options li label,li.pos-relative.ng-scope
{
    max-height:150px;
    height: 100%;
    max-width: 100%;
}

</style>
