<nav class="be-right-sidebar">
    <div class="sb-content">
        <div class="tab-navigation">
            <ul role="tablist" class="nav nav-tabs nav-justified">
                <li role="presentation" class="active"><a href="" data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Kudos</a></li>
                <li role="presentation"><a href="" data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Todo</a></li>
            </ul>
        </div>
        <div class="tab-panel">
            <div class="tab-content">
                <div id="tab1" role="tabpanel" class="tab-pane tab-chat active">
                    <div class="chat-contacts">
                        <div class="chat-sections">
                            <div class="be-scroller">
                                <div class="content">
                                    <h2>Class</h2>
                                    <div class="contact-list contact-list-recent">
                                        <div class="user" ng-repeat="user in ctrl.userList">
                                            <a href="" ng-click="ctrl.setChatUser(user)" data-target="#chattab" role="tab" data-toggle="tab"><img src="{{user.avatar}}" alt="Avatar">
                                                <div class="user-data"><span class="status away"></span><span class="name" ng-bind="user.fullname"></span></div>
                                            </a>
                                        </div>
                                    </div>
                                    <h2 ng-if="ctrl.posts.length>0">You gave bragtags to</h2>
                                    <div class="contact-list">
                                        <div class="user" ng-repeat="post in ctrl.posts| limitTo: 3">
                                            <a href=""><img src="{{post.tags[0].person.avatar}}" alt="Avatar">
                                                <div class="user-data2">
                                                    <span class="pull-right" ng-if="post.image">
                                                        <span class="pull-right"><img ng-src="{{post.image}}" class="tagged-bragtag"></span>
                                                    </span>
                                                    <span class="pull-right" ng-if="post.image==null">
                                                        <span class="pull-right" ng-repeat="tag in post.brags"><img ng-src="{{tag.bragtag.image}}" class="tagged-bragtag">
                                                        </span>
                                                    </span>
                                                    <span class="name" ng-bind="post.tags[0].person.fullname"></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                    <h2>Bragtags</h2>
                                    <div class="contact-list col-md-12">
                                        <a href="" ng-repeat="tag in ctrl.bragtags"><img ng-src="{{tag.image}}" class="img-responsive bragtag col-lg-4"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-input">
                            <input type="text" placeholder="Search..." name="q"><span class="mdi mdi-search"></span>
                        </div>
                    </div>
                    <div class="chat-window">
                        <div class="title">
                            <div class="user"><img src="/app/assets/img/avatar2.png" alt="Avatar">
                                <h2>Maggie jackson</h2><span>Active 1h ago</span>                                
                            </div><span class="icon return mdi mdi-chevron-left"></span>
                        </div>
                        <div class="chat-messages">
                            <div class="be-scroller">
                                <div class="content">
                                    <ul>
                                        <li class="friend">
                                            <div class="msg">Hello</div>
                                        </li>
                                        <li class="self">
                                            <div class="msg">Hi, how are you?</div>
                                        </li>
                                        <li class="friend">
                                            <div class="msg">Good, I'll need support with my pc</div>
                                        </li>
                                        <li class="self">
                                            <div class="msg">Sure, just tell me what is going on with your computer?</div>
                                        </li>
                                        <li class="friend">
                                            <div class="msg">I don't know it just turns off suddenly</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chat-input">
                            <div class="input-wrapper"><span class="photo mdi mdi-camera"></span>
                                <input type="text" placeholder="Message..." name="q" autocomplete="off"><span class="send-msg mdi mdi-mail-send"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab3" role="tabpanel" class="tab-pane tab-todo">
                    <div class="todo-container">
                        <div class="todo-wrapper">
                            <div class="be-scroller">
                                <div class="todo-content"><span class="category-title">Today</span>
                                    <ul class="todo-list">
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo1" type="checkbox" checked="">
                                                <label for="todo1">Initialize the project</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo2" type="checkbox">
                                                <label for="todo2">Create the main structure</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo3" type="checkbox">
                                                <label for="todo3">Updates changes to GitHub</label>
                                            </div>
                                        </li>
                                    </ul><span class="category-title">Tomorrow</span>
                                    <ul class="todo-list">
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo4" type="checkbox">
                                                <label for="todo4">Initialize the project</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo5" type="checkbox">
                                                <label for="todo5">Create the main structure</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo6" type="checkbox">
                                                <label for="todo6">Updates changes to GitHub</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="be-checkbox be-checkbox-sm"><span class="delete mdi mdi-delete"></span>
                                                <input id="todo7" type="checkbox">
                                                <label for="todo7" title="This task is too long to be displayed in a normal space!">This task is too long to be displayed in a normal space!</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-input">
                            <input type="text" placeholder="Create new task..." name="q"><span class="mdi mdi-plus"></span>
                        </div>
                    </div>
                </div>
                <div id="chattab" role="tabpanel" class="tab-pane tab-chat chat-opened">
                    <div class="chat-window">
                        <div class="title">
                            <div class="user"><img ng-src="{{ctrl.chatUser.avatar}}" alt="Avatar">
                                <h2 ng-bind="ctrl.chatUser.fullname"></h2><span>Active 1h ago</span>
                            </div><span class="icon return mdi mdi-chevron-left" data-target="#tab1" role="tab" data-toggle="tab" ></span>
                        </div>
                        <div class="chat-messages">
                            <div class="be-scroller">
                                <div class="content" style="overflow-y: auto;">
                                    <ul> 
                                        <li ng-repeat="chat in ctrl.chatMessages" ng-class="{'self': chat.type == 'self', 'friend': chat.type == 'other'}">
                                            <div class="msg" ng-bind="chat.message" ng-if="chat.msgType=='chat'"></div>
                                            <div class="msg" ng-if="chat.msgType=='post'"><img ng-src="{{chat.post.image}}" width="80" height="80"></div> 
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="chat-input">
                            <div class="input-wrapper">                                
                                <span class="photo"><a href="" style="margin-bottom: 10px;" data-toggle="modal" data-target="#composePost"><span class="mdi mdi-camera"></span></a></span>
                                <input type="text" placeholder="Message..." name="q" autocomplete="off" ng-init="newMessage" ng-model="newMessage" on-enterkey="ctrl.addChatMessage(newMessage); newMessage='';" ><span class="send-msg mdi mdi-mail-send" ng-click="ctrl.addChatMessage(newMessage); newMessage='';"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="modal fade" id="composePost" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Select Brag Tags</h4>
            </div>
            <div class="modal-body">
                <form>
                <div class="row">
                    <div ng-repeat="tag in ctrl.bragtags" class="col-lg-3">
                        <div class="thumbnail">
                            <a href="" ng-click="ctrl.posttag(tag);" onclick="$('#composePost').modal('hide');"><img ng-src="{{tag.image}}" class="img-responsive bragtag"></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
