<div class="be-wrapper be-login be-signup">
    <div class="be-content">
        <div class="main-content container-fluid">
            <div class="splash-container sign-up">
                <div class="panel panel-default panel-border-color panel-border-color-primary">
                    <div class="panel-heading">
                        <h1 class="text-zaya-blue log-text" style="color:#4285f4;font-family: 'Merriweather', serif;">03Schools</h1>
                        <span class="splash-description">Please enter your user information.</span>
                    </div>
                    <div class="panel-body">
                        <form name="signupForm">
                            <span class="splash-title xs-pb-20">Sign Up</span>
                            <div class="form-group text-center">
                                <div class="be-radio-icon inline">
                                    <input type="radio" value="student" ng-model="ctrl.loginType" name="student" id="rad1">
                                    <label for="rad1" data-toggle="tooltip" data-placement="top" data-original-title="Student" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-face"></span></label>
                                </div>
                                <!-- <div class="be-radio-icon inline">
                                    <input type="radio" value="leader" ng-model="ctrl.loginType" name="leader" id="rad2">
                                    <label for="rad2" data-toggle="tooltip" data-placement="top" data-original-title="Leader" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-accounts-list-alt"></span></label>
                                </div> -->
                                <div class="be-radio-icon inline">
                                    <input type="radio" value="teacher" ng-model="ctrl.loginType" name="teacher" id="rad3">
                                    <label for="rad3" data-toggle="tooltip" data-placement="top" data-original-title="Teacher" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-female"></span></label>
                                </div>
                                <div class="be-radio-icon inline">
                                    <input type="radio" value="parent" ng-model="ctrl.loginType" name="parent" id="rad4">
                                    <label for="rad4" data-toggle="tooltip" data-placement="top" data-original-title="Parent" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-accounts-alt"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" ng-model="ctrl.user.first_name" required placeholder="Username" autocomplete="off" class="form-control">
                                <div class="text-danger" ng-messages="signupForm.username.$error" ng-show="signupForm.username.$dirty && signupForm.username.$invalid">
                                    <div ng-message="required">Username is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" ng-model="ctrl.user.email" placeholder="E-mail (optional)" autocomplete="off" class="form-control">
                                <div class="text-danger" ng-messages="signupForm.email.$error" ng-show="signupForm.email.$dirty && signupForm.email.$invalid">
                                    <div ng-message="required">Not a valid email</div>
                                </div>
                            </div>
                            <div class="form-group row signup-password">
                                <div class="col-xs-6">
                                    <input type="password" id="password1" ng-model="ctrl.user.password" name="password1" ng-minlength="6" required="" placeholder="Password" class="form-control">
                                    <div class="text-danger" ng-messages="signupForm.password1.$error" ng-show="signupForm.password1.$dirty && signupForm.password1.$invalid" role="alert">
                                        <div ng-message="minlength">Minimum 6 char</div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <input type="password" check-match='password1' required="" ng-model="ctrl.user.password2" name="password2" placeholder="Re-Password" class="form-control">
                                    <div class="text-danger" ng-show="signupForm.password2.$dirty && signupForm.password2.$invalid && signupForm.password2.$error.checkmatch">
                                        Password dont match.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group xs-pt-10">
                                <button type="button" class="btn btn-block btn-primary btn-xl" ng-click="ctrl.signUp()" ng-disabled="signupForm.$invalid">Sign Up</button>
                            </div>
                            <div class="form-group xs-pt-10">
                                <div class="be-checkbox">
                                    <input type="checkbox" id="remember">
                                    <label for="remember">By creating an account, you agree the <a href="">terms and conditions</a>.</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="splash-footer"><span>Already have an account? <a href="" ui-sref="auth.login" >Login</a></span></div>
            </div>
        </div>
    </div>
</div>
