<div class="be-wrapper be-login">
    <div class="be-content">
        <div class="main-content container-fluid">
            <div class="splash-container">
                <div class="panel panel-default panel-border-color panel-border-color-primary">
                    <div class="panel-heading">
                        <h1 class="text-zaya-blue log-text" style="color:#4285f4;font-family: 'Merriweather', serif;">03Schools</h1>
                        <span class="splash-description">Please enter your user information.</span>
                    </div>
                    <div class="panel-body">
                        <form name="loginForm" ng-submit="ctrl.login()">
                            <span class="splash-title xs-pb-20">Sign In</span>
                            <div class="form-group text-center">
                                <div class="be-radio-icon inline">
                                    <input type="radio" name="student" value="student" ng-model="ctrl.loginType" id="rad1">
                                    <label for="rad1" data-toggle="tooltip" data-placement="top" data-original-title="Student" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-face"></span></label>
                                </div>
                                <!-- <div class="be-radio-icon inline">
                                    <input type="radio" name="leader" value="leader" ng-model="ctrl.loginType" id="rad2">
                                    <label for="rad2" data-toggle="tooltip" data-placement="top" data-original-title="Leader" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-accounts-list-alt"></span></label>
                                </div> -->
                                <div class="be-radio-icon inline">
                                    <input type="radio" name="teacher" value="teacher" ng-model="ctrl.loginType" id="rad3">
                                    <label for="rad3" data-toggle="tooltip" data-placement="top" data-original-title="Teacher" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-female"></span></label>
                                </div>
                                <div class="be-radio-icon inline">
                                    <input type="radio" name="parent" value="parent" ng-model="ctrl.loginType" id="rad4">
                                    <label for="rad4" data-toggle="tooltip" data-placement="top" data-original-title="Parent" onmouseenter="$(this).tooltip('show')"><span class="mdi mdi-accounts-alt"></span></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" ng-model="ctrl.user.username" name="username" placeholder="Username" autocomplete="off" class="form-control" required>
                                <div class="text-danger" ng-messages="loginForm.username.$error" ng-show="loginForm.username.$dirty && loginForm.username.$invalid">
                                    <div ng-message="required">Username is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="password" ng-model="ctrl.user.password" name="password" placeholder="Password" class="form-control" required>
                                <p class="text-danger text-center" ng-bind="ctrl.error" ng-show="ctrl.error"></p>
                                <div class="text-danger" ng-messages="loginForm.password.$error" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
                                    <div ng-message="required">Password is required</div>
                                </div>
                            </div>
                            <div class="form-group row login-tools">
                                <div class="col-xs-6 login-remember">
                                    <div class="be-checkbox">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">Remember Me</label>
                                    </div>
                                </div>
                                <div class="col-xs-6 login-forgot-password"><a href="">Forgot Password?</a></div>
                            </div>
                            <div class="form-group login-submit">
                                <button data-dismiss="modal" ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary btn-xl">Sign me in</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="splash-footer"><span>Don't have an account? <a href="" ui-sref="auth.signup" >Sign Up</a></span></div>
            </div>
        </div>
    </div>
</div>
