
    .node {
        cursor: pointer;
    }
     
    .overlay {
        background-color: #f9f9f9;
        border-radius: 5px;
    }    
    .node circle {
        fill: lightsteelblue;
        stroke: steelblue;
        stroke-width: 1.5px;
    }
    
    .node text {
        font-size: 10px;
        font-family: sans-serif;
    }
    
    .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
    }
    
    .templink {
        fill: none;
        stroke: lightsteelblue;
        stroke-width: 3px;
    }
    
    .ghostCircle.show {
        display: block;
    }
    
    .ghostCircle,
    .activeDrag .ghostCircle {
        display: none;
    }
    
    .d3-context-menu {
        position: absolute;
        display: none;
        background-color: #f2f2f2;
        border-radius: 4px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        min-width: 150px;
        border: 1px solid #d4d4d4;
        z-index: 1200;
    }
    
    .d3-context-menu ul {
        list-style-type: none;
        margin: 4px 0px;
        padding: 0px;
        cursor: default;
    }
    
    .d3-context-menu ul li {
        padding: 4px 16px;
    }
    
    .d3-context-menu ul li:hover {
        background-color: #4677f8;
        color: #fefefe;
    }
